{% extends "admin/change_form.html" %}

{% block after_related_objects %}
  <fieldset class="module aligned cards">
    <h2>CARDS</h2>
    <div class="description">Printings of this BaseCard</div>
    <div class="form-row field-card">
      {% for card in original.card_set.all %}
        <div>
          <a href="{% url 'admin:cards_card_change' card.id %}">{{ card.expansionset.name }}</a>
          - {{ card.expansionset.releasedate }}
          [{{card.id}}]
        </div>
      {% endfor %}
    </div>
  </fieldset>
{% endblock %}
