{% extends "base.html" %}
{% load content %}

{% block title %}{{ physicalcard.get_card_name }}{% endblock %}
{% block pagetitle %}
  {{ physicalcard.get_card_name }}
  {% for fcs in formatcardstats %}
    {%if fcs.is_staple %}<span class="staple-{{fcs.format.formatname|lower}}">{{fcs.format.formatname}} Staple</span>{% endif %}
  {% endfor %}
{% endblock %}
{% block description %}Magic: The Gathering card {{ physicalcard.get_card_name }} information and analysis{% endblock %}

{% block additionalheaders %}
  {% for ccc in cards %}
    {% if forloop.counter0 == 0 %}
      <link rel="canonical" href="{% url 'cards:detail' multiverseid=ccc.get_original_version.multiverseid slug=ccc.get_original_version.url_slug %}">
    {% endif %}
  {% endfor %}
{% endblock %}
{% block subsearchnav %}
<div class="row" style="padding-bottom: 8px; border-bottom: 1px solid #eee;">
  <div class="col-xs-6 col-sm-3 col-md-2"><button id="return-terms" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp;Search Terms</button></div>
  <div class="col-xs-6 col-sm-3 col-md-2"><button id="return-results" class="btn btn-default"><span class="glyphicon glyphicon-list"></span>&nbsp;Search Results</button></div>
  <div class="col-xs-2 col-sm-2 col-md-1 searchlabel text-right" style="padding-top: 8px"><label for="cardname" class="control-label">Tutor</label></div>
  <div class="col-xs-10 col-sm-4 col-md-5 col-lg-4" style="padding-top: 6px;"><input id="cardtutor" type="text" name="cardtutor" class="form-control input-sm"/></div>
  <script>
$(function() {
    $("#return-terms").button().click(function(event) { document.location = "{% url 'cards:index' %}"; });
    $("#return-results").button().click(function(event) { document.location = "{% url 'cards:list' %}"; });
    cdb.makeFieldNameAuto($("#cardtutor"), cdb.AUTO_NAVIGATE);
});
  </script>
</div>
{% endblock %}
{% block content %}
{% load cache %}
{% cache PAGE_CACHE_TIME card_details_html request_mvid %}
<script type="text/javascript">
// Load the Visualization API and the piechart package.
//google.load('visualization', '1.1', {'packages':['line']});
google.load('visualization', '1.1', {'packages':['corechart']});

function drawCardStatsChart(formatname) {
    cardstats = cn.getCardStats(formatname,{{request_mvid}});
    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Format Start Date');
    performatter = new google.visualization.NumberFormat({pattern:'#.##%'});
    data.addColumn({type:'number', label:'% of Decks', pattern:performatter});
    data.addColumn('number', 'Avg # of Cards');
    for (var p = 0; p < cardstats.length; p++) {
        var myrow = [cardstats[p].format_start_date, cardstats[p].in_decks_percentage / 100, cardstats[p].average_card_count_in_deck];
        data.addRow(myrow);
    }
    performatter.format(data, 1)
    var options = {
        chart: {
          /*title: '% of All Cards in Format',*/
        },
        legend: { position: 'right', },
        curveType: 'function',
        fontName: 'Arial',
        colors: ['#4d5f8b','#e19d29'],
        width: Math.min(800, $('#collapse-' + formatname.toLowerCase() + '-meta').innerWidth()),
        height: 360,
        series: {
          // Gives each series an axis name that matches the Y-axis below.
          0: {axis: '% of Decks', targetAxisIndex: 0, curveType: 'function', fontName: 'Arial', },
          1: {axis: 'Avg # of Cards', targetAxisIndex: 1, curveType: 'function', fontName: 'Arial',},
        },
        axes: {
          // Adds labels to each axis; they don't have to match the axis names.
          y: {
            Cards: {label: 'Avg # of Cards', },
            Decks: {label: '% of Decks', },
          }
        },
        hAxis: { title: 'Format Start Date',
                 textStyle: { fontName: 'Arial', },
                 titleTextStyle: { fontName: 'Arial', },
        },
        vAxes: [{title: '% of Decks',
                 gridlines: {count: 4},
                 minValue: 0.0,
                 titleTextStyle: { color: '#4d5f8b', fontName: 'Arial', },
                 textStyle: { color: '#4d5f8b', fontName: 'Arial', },
                 viewWindow: { min: 0.0 },
                 baseline: 0.0,
                 format:'#.###%'
                },
                {title: 'Avg # of Cards',
                 gridlines: {count: 4},
                 titleTextStyle: { color: '#e19d29', fontName: 'Arial', },
                 textStyle: { color: '#e19d29', fontName: 'Arial', },
                 minValue: 0.0,
                 viewWindow: { min: 0.0 },
                 baseline: 0.0,
                 format:'#.###'
                },
        ],
        theme: 'material' 
    };
    if (options.width < 800) {
        options.legend.position = 'bottom';
        options.height = options.height + 30;
    }
    //var lchart = new google.charts.Line(document.getElementById('cardstats-' + formatname.toLowerCase()));
    //lchart.draw(data, google.charts.Line.convertOptions(options));
    var lchart = new google.visualization.LineChart(document.getElementById('cardstats-' + formatname.toLowerCase()));
    lchart.draw(data, options);
}
</script>
{% content key="PhysicalCard-"|concat:physicalcard.id position="top" %}
{% content key=request.path position="top" %}
{% for card in cards %}
  {% if card %}
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <img class="cardimage" src="{{ card.img_url }}" alt="{{ card.basecard.name }}"/>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <table>
          <tbody>
            <tr>
              <td style="width: 130px;" class="cardattr">Name</td>
              <td>{{ card.basecard.name }}</td>
            </tr>
            <tr>
              <td class="cardattr">Mana Cost</td>
              <td>{{ card.mana_cost_html }}</td>
            </tr>
            {% if card.basecard.supertypes.all %}
              <tr>
                <td class="cardattr">Supertype</td>
                <td>{% for tsupertype in card.basecard.supertypes.all %}{{ tsupertype.supertype }} {% endfor %}</td>
              </tr>
            {% endif %}
            <tr>
              <td class="cardattr">Type</td>
              <td>{% for ttype in card.basecard.types.all %}{{ ttype.type }} {% endfor %}</td>
            </tr>
            {% if card.basecard.subtypes.all %}
              <tr>
                <td class="cardattr">Subtype</td>
                <td>{% for tsubtype in card.basecard.subtypes.all %}{{ tsubtype.subtype }} {% endfor %}</td>
              </tr>
            {% endif %}
            <tr>
              <td class="cardattr">Text</td>
              <td>{{ card.rules_text_html|escape }}</td>
            </tr>
            {% if card.basecard.power %}
              <tr>
                <td class="cardattr">Power</td>
                <td>{{ card.basecard.power }}</td>
              </tr>
            {% endif %}
            {% if card.basecard.toughness %}
              <tr>
                <td class="cardattr">Toughness</td>
                <td>{{ card.basecard.toughness }}</td>
              </tr>
            {% endif %}
            {% if card.basecard.loyalty %}
              <tr>
                <td class="cardattr">Loyalty</td>
                <td>{{ card.basecard.loyalty }}</td>
              </tr>
            {% endif %}
            <tr>
              <td class="cardattr">CMC</td>
              <td>{{ card.basecard.cmc }}</td>
            </tr>
            <tr>
              <td class="cardattr">Color</td>
              <td>{% for tcolor in card.basecard.colors.all %}{{ tcolor.color }} {% empty %}Colorless{% endfor %}</td>
            </tr>
            <tr>
              <td class="cardattr">Pat's Card&nbsp;Rating</td>
              <td>
                {% for lf in physicalcard.legal_formats %}
                  <span class="hidden-xs-inline">{{lf.formatname}}</span><span class="visible-xs-inline">{{lf.abbr}}</span>:
                  {% for cr in physicalcard.get_cardratings %}
                    {% if cr.format.formatname == lf.formatname %}
                      <span>{{ cr.cardninjaRating|floatformat:2 }}</span>
                    {% endif %}
                  {% endfor %}<br>
                {% endfor%}
              </td>
            </tr>
            <tr>
              <td class="cardattr">Expansion Set</td>
              <td>{{ card.expansionset.name }}</td>
            </tr>
            <tr>
              <td class="cardattr">Multiverse Id</td>
              <td>{{ card.multiverseid }}</td>
            </tr>
            <tr>
              <td class="cardattr">Flavor Text</td>
              <td>{{ card.flavor_text_html }}</td>
            </tr>
            {% if card.mark.mark %}
              <tr>
                <td class="cardattr">Mark</td>
                <td>{{ card.mark.mark }}</td>
              </tr>
            {% endif %}
            <tr>
              <td class="cardattr">Rarity</td>
              <td>{{ card.rarity.rarity }}</td>
            </tr>
            <tr>
              <td class="cardattr">Card Number</td>
              <td>{{ card.card_number }}</td>
            </tr>
            <tr>
              <td class="cardattr">All Versions</td>
              <td>{% for ocard in card.get_all_versions %}<a href="{% url 'cards:detail' multiverseid=ocard.multiverseid slug=ocard.url_slug %}">{{ ocard.expansionset.abbr }}</a> {% endfor %}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-1 col-md-3 col-lg-3" id="pricing-container"></div>
    </div>
  {% endif %}
{% endfor %}
{% content key="PhysicalCard-"|concat:physicalcard.id position="mid" title="Commentary" layout="commentary" %}
{% content key=request.path position="mid" %}
<div class="battles-block">
  <div class="row">
    <div class="col-xs-12">
      <h3>Current Legal Formats</h3>
    </div>
  </div>
  {% for format in physicalcard.legal_formats %}
    <div class="row">
      <div class="col-xs-12">
        <h4>{{format.formatname}}</h4>
        <div class="panel-group" id="accordion-{{format.formatname|lower}}" role="tablist" aria-multiselectable="true">
          <!-- FORMAT CARD STATS -->
          {% for fcs in formatcardstats %}
            {% if fcs.format.formatname == format.formatname %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-{{format.formatname|lower}}-meta">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-{{format.formatname|lower}}" href="#collapse-{{format.formatname|lower}}-meta" aria-expanded="false" aria-controls="collapse-{{format.formatname|lower}}-meta">
                      <i class="indicator glyphicon glyphicon-menu-right pull-left" style="font-size: 90%; padding-right: 5px;"></i> Metagame Statistics 
                    </a> {% if fcs.is_staple %} <span class="staple-{{format.formatname|lower}}">{{format.formatname}} Staple</span> {% endif %}
                  </h5>
                </div>
                <div id="collapse-{{format.formatname|lower}}-meta" class="panel-collapse {%if format.formatname != "Modern" %}collapse{%endif%}" role="tabpanel" aria-labelledby="heading-{{format.formatname|lower}}-meta">
                  <div class="panel-body">
                    <div id="cardstats-{{format.formatname|lower}}"></div>
                    <div>Appears in {{format.formatname}} decks: {{fcs.in_decks_percentage|floatformat:1}}%</div>
                    <div>When included, average number included in deck: {{fcs.average_card_count_in_deck|floatformat:2}}</div>
                  </div>
                </div>
                <script>$('#accordion-{{format.formatname|lower}}').on('shown.bs.collapse', function () { drawCardStatsChart('{{format.formatname|lower}}'); });</script>
                {%if fcs.format.formatname == "Modern" %}<script>google.setOnLoadCallback(function(){ drawCardStatsChart('{{format.formatname|lower}}');});</script>{%endif%}
              </div>
            {%endif%}
          {%endfor%}
          <!-- RATINGS -->
          {% for cr in physicalcard.get_cardratings %}
            {% if cr.format.formatname == format.formatname %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-{{format.formatname|lower}}-rating">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-{{format.formatname|lower}}" href="#collapse-{{format.formatname|lower}}-rating" aria-expanded="false" aria-controls="collapse-{{format.formatname|lower}}-rating">
                      <i class="indicator glyphicon glyphicon-menu-right pull-left" style="font-size: 90%; padding-right: 5px;"></i> Pat's Card Rating: {{cr.cardninjaRating|floatformat:2 }}
                    </a>
                  </h5>
                </div>
                <div id="collapse-{{format.formatname|lower}}-rating" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{format.formatname|lower}}-rating">
                  <div class="panel-body">
                    <div><a href="{% url 'cards:battle' format=format.formatname %}?pcid={{physicalcard.id}}">Battle in Current {{format.formatname}}</a></div>
                    <div>Rating Confidence: {{cr.confidence|floatformat:2 }}</div>
                    {% for cbs in cardbattlestats %}
                      {% if cbs.format.formatname == format.formatname %}
                        <div><b>Wins</b> - {{cbs.win_count}} ({{cbs.win_percentage|floatformat:1}}%)</div>
                        {% if cbs.win_count > 0 %}
                          <!-- WON BATTLES -->
                          <div>{{ physicalcard.get_card_name }} has beaten these cards in Pat's Card Battles:</div>
                          <div class="row">
                            {% for fbc in formatbasecards %}
                              {% if fbc.format.formatname == format.formatname %}
                                {% for wcard in fbc.won_battles|slice:"4" %}
                                  <div class="col-xs-6 col-sm-4 col-md-3 card-tile">
                                    <div class="text-center"><a href="{% url 'cards:detail' wcard.loser_pcard.get_latest_card.multiverseid wcard.loser_pcard.get_latest_card.url_slug %}"><img class="grid_cardimage" src="{{ wcard.loser_pcard.get_latest_card.img_url }}" alt="{{ wcard.loser_pcard.get_card_name }}"/></a></div>
                                    <div class="text-center"><a href="{% url 'cards:detail' wcard.loser_pcard.get_latest_card.multiverseid wcard.loser_pcard.get_latest_card.url_slug %}">{{wcard.loser_pcard.get_card_name}}</a></div>
                                  </div>
                                {% endfor %}
                              {% endif %}
                            {% endfor %}
                          </div>
                        {% endif %}
                        <div><b>Losses</b> - {{cbs.loss_count}} ({{cbs.loss_percentage|floatformat:1}}%)</div>
                        {% if cbs.loss_count > 0 %}
                          <!-- LOST BATTLES -->
                          <div>{{ physicalcard.get_card_name }} has lost to these cards in Pat's Card Battles:</div>
                          <div class="row">
                            {% for fbc in formatbasecards %}
                              {% if fbc.format.formatname == format.formatname %}
                                {% for lcard in fbc.lost_battles|slice:"4" %}
                                  <div class="col-xs-6 col-sm-4 col-md-3 card-tile">
                                    <div class="text-center"><a href="{% url 'cards:detail' lcard.winner_pcard.get_latest_card.multiverseid lcard.winner_pcard.get_latest_card.url_slug %}"><img class="grid_cardimage" src="{{ lcard.winner_pcard.get_latest_card.img_url }}" alt="{{ lcard.winner_pcard.get_card_name }}"/></a></div>
                                    <div class="text-center"><a href="{% url 'cards:detail' lcard.winner_pcard.get_latest_card.multiverseid lcard.winner_pcard.get_latest_card.url_slug %}">{{lcard.winner_pcard.get_card_name}}</a></div>
                                  </div>
                                {% endfor %}
                              {% endif %}
                            {% endfor %}
                          </div>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
          <!-- CARDS PLAYED WITH -->
          {% for fbc in formatbasecards %}
            {% if fbc.format.formatname == format.formatname %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-{{format.formatname|lower}}-playedwith">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-{{format.formatname|lower}}" href="#collapse-{{format.formatname|lower}}-playedwith" aria-expanded="false" aria-controls="collapse-{{format.formatname|lower}}-playedwith">
                      <i class="indicator glyphicon glyphicon-menu-right pull-left" style="font-size: 90%; padding-right: 5px;"></i> Cards commonly played with {{physicalcard.get_card_name}} in {{format.formatname}}
                    </a>
                  </h5>
                </div>
                <div id="collapse-{{format.formatname|lower}}-playedwith" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{format.formatname|lower}}-playedwith">
                  <div class="panel-body">
                    <div class="row" id="playedwith-{{format.formatname|lower}}">
                      <div class="col-xs-12">
                        <div class="row">
                          {% for cpwpc in fbc.cards_played_with|slice:"16" %}
                            <div class="col-xs-6 col-sm-4 col-md-3 card-tile">
                              <div class="text-center"><a href="{% url 'cards:detail' cpwpc.multiverseid cpwpc.url_slug %}"><img class="grid_cardimage" src="{{ cpwpc.img_url }}" alt=" cpwpc.basecard.physicalcard.get_card_name }}"/></a></div>
                              <div class="text-center"><a href="{% url 'cards:detail' cpwpc.multiverseid cpwpc.url_slug %}">{{cpwpc.basecard.physicalcard.get_card_name}}</a></div>
                            </div>
                          {% empty %}
                            <div class="col-xs-12">{{physicalcard.get_card_name}} does not show up in any decks in {{format.formatname}}.</div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {%endif%}
          {%endfor%}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<script>
function toggleChevron(e) {
    $(e.target)
        .prev('.panel-heading')
        .find("i.indicator")
        .toggleClass('glyphicon-menu-right glyphicon-menu-down');
}
$('.panel-group').on('hidden.bs.collapse', toggleChevron);
$('.panel-group').on('shown.bs.collapse', toggleChevron);
</script>
<div class="similar-block">
  <div class="row">
    <div class="col-xs-12">
      <h3>Similar Cards to {{physicalcard.get_card_name}}</h3>
    </div>
  </div>
  <div class="row">
    {% for sim in physicalcard.find_similar_cards|slice:"16" %}
      <div class="col-xs-6 col-sm-4 col-md-3 card-tile">
        <div class="text-center"><a href="{% url 'cards:detail' sim.multiverseid sim.url_slug %}"><img class="grid_cardimage" src="{{ sim.img_url }}" alt="{{ sim.basecard.physicalcard.get_card_name }}"/></a></div>
        <div class="text-center"><a href="{% url 'cards:detail' sim.multiverseid sim.url_slug %}">{{sim.basecard.physicalcard.get_card_name}}</a></div>
      </div>
    {% endfor %}
  </div>
</div>

{% if associations %}
  <div class="associations-block">
    <div class="row">
      <div class="col-xs-12">
        <h3>Cards Associated with {{physicalcard.get_card_name}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {% for assoc in associations %}
          <div class="association-block">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="association-title">{{assoc.name}}{% if assoc.classification %} ({{assoc.classification}}){% endif %}</h4>
              </div>
            </div>
              {% if assoc.description %}
                <div class="row">
                  <div class="col-xs-12 association-description">
                    <p>{{assoc.description}}</p>
                  </div>
                </div>
              {% endif %}
            <div class="row">
              {% for assocpc in assoc.associationcards.all %}
                {% if assocpc != physicalcard %}
                  <div class="col-xs-6 col-sm-4 col-md-3 card-tile">
                    <div class="text-center"><a href="{% url 'cards:detail' assocpc.get_latest_card.multiverseid assocpc.get_latest_card.url_slug %}"><img class="grid_cardimage" src="{{ assocpc.get_latest_card.img_url }}" alt="{{ assocpc.get_card_name }}"/></a></div>
                    <div class="text-center"><a href="{% url 'cards:detail' assocpc.get_latest_card.multiverseid assocpc.get_latest_card.url_slug %}">{{assocpc.get_card_name}}</a></div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

<div class="rulings-block">
  <div class="row">
    <div class="col-xs-12">
      <h3>Rulings</h3>
    </div>
  </div>
  <div class="row well">
    <div class="col-xs-12">
      <dl class="dl-horizontal">
        {% for ruling in physicalcard.get_latest_card.basecard.get_rulings %}
          <dt class="rulingdate">{{ruling.ruling_date|date:"Y-m-d"}}</dt>
          <dd class="cardruling">{{ruling.ruling_text}}</dd>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>
{% content key="PhysicalCard-"|concat:physicalcard.id position="bottom" %}
{% content key=request.path position="bottom" %}

<div style="margin-top: 20px;" class="row"><div class="col-xs-3"><a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid={{request_mvid}}" target="_blank">View on Gatherer</a></div></div>
<script type="text/javascript">
var pbmk = {{auth_keys_json|safe}};  
drawPrices = function(val) {
    if (window.cn.cardprices != null && window.cn.cardprices.length > 0) {
        $.ajax({url: "/cards/_ucp/",data: {"p":JSON.stringify(cn.cardprices)},dataType: "json",method: "POST",async: true,xhrFields:{withCredentials: true},crossDomain: true});
        $("#pricing-container").append("<table class='pricing-table' id='pricing-table'><tr class='table-header-row'><th class='pricing-header' colspan='3'>Pat's Prices</th></tr></table>"); 
        for (var f = 0; f < window.cn.cardprices.length; f++) {
            var cp = window.cn.cardprices[f]; 
            var xp_ident = '';
            if (cp.expansionset != null) {
                if (cp.expansionset.abbr != null) {
                    xp_ident = cp.expansionset.abbr; 
                }
                if (cp.expansionset.name != null) {
                    xp_ident = cp.expansionset.name; 
                }
            }
            var tr_css_classes = 'price-row';
            if (cp.on_sale != null && cp.on_sale != 'false' && cp.on_sale != 'False' && cp.on_sale != '0' && cp.on_sale != 0 && cp.on_sale) {
                tr_css_classes = tr_css_classes + ' price-on-sale'; 
            }
            if (cp.multiverseid != null && parseInt(cp.multiverseid) == parseInt('{{request_mvid}}')) {
                tr_css_classes = tr_css_classes + ' price-current-card'; 
            }
            if (cp.mvid != null && parseInt(cp.mvid) == parseInt('{{request_mvid}}')) {
                tr_css_classes = tr_css_classes + ' price-current-card'; 
            }
            var p_f = parseFloat(cp.price);
            var disp_price = cp.price;
            if (isNaN(p_f) || p_f <= 0.0 || p_f > 25000.0) {
                disp_price = "Call";
            }
            $("#pricing-table").append("<tr class='" + tr_css_classes + "'><td class='price-expansion'><a href='/cards/" + cp.mvid + "/'>" + xp_ident + "</a></td><td class='price-printing'>" + cp.printing + "</td><td class='price-price'>$" + disp_price + "</td></tr>");
        }
        //$("#pricing-table").append("<tr><td colspan='3' class='pricing-table-add'><a href='https://www.patsgames.com/cgi-bin/custFCsearchV22.pl?CNAME={{physicalcard.get_card_name|urlencode}}&CSET=ANY&VALUE=GET+CARD&STARTNUM=0' target='deckbox'>Add to Deckbox</a></td></tr>");
    } else {
        $("#pricing-container").append("<div class='pricing-login-prompt'><a href='{{settings.DECKBOX_LOGIN_URL}}' target='deckbox'>Log in to Pat\'s Games<br>to see prices!</div>");
    }
};
checkPrices = function(val) {
    if (window.cn.cardprices != null && window.cn.cardprices.length > 0) {
        if (window.cn.cardprices.length == 1 && (window.cn.cardprices[0].price == "99999999.99" || window.cn.cardprices[0].price == 99999999.99 || window.cn.cardprices[0].name == "")) {
            // let's try again
            for (var pp = 0; pp < pbmk.length; pp++) {
                if (pbmk[pp].length == 2) {
                    // let's try this one.
                    pbmk[pp][2] = true;
                    cn.getCardPrices(pbmk[pp][0], "{{settings.DECKBOX_PRICE_URL_BASE}}", pbmk[pp][1], checkPrices);
                }
            }
        } else {
            drawPrices(val);
        }
    }
};
google.setOnLoadCallback(function() {
    pbmk[0][2] = true;
    cn.getCardPrices(pbmk[0][0], "{{settings.DECKBOX_PRICE_URL_BASE}}", pbmk[0][1], checkPrices);
});
</script>
{% endcache %}
{% endblock %}

