{% extends "base.html" %}

{% block title %}{{ physicalCardTitle }}{% endblock %}
{% block pagetitle %}{{ physicalCardTitle }}{% endblock %}
{% block description %}Magic: The Gathering card {{ physicalCardTitle }} information and analysis{% endblock %}

{% block subsearchnav %}
<div class="row" style="padding-bottom: 8px; border-bottom: 1px solid #eee;">
  <div class="col-xs-6 col-sm-3 col-md-2"><button id="return-terms" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp;Search Terms</button></div>
  <div class="col-xs-6 col-sm-3 col-md-2"><button id="return-results" class="btn btn-default"><span class="glyphicon glyphicon-list"></span>&nbsp;Search Results</button></div>
  <div class="col-xs-2 col-sm-2 col-md-1 searchlabel text-right" style="padding-top: 8px"><label for="cardname" class="control-label">Tutor</label></div>
  <div class="col-xs-10 col-sm-4 col-md-5 col-lg-4" style="padding-top: 6px;"><input id="cardtutor" type="text" name="cardtutor" class="form-control input-sm"/></div>
  <script>
$(function() {
    $("#return-terms").button().click(function(event) { document.location = "{% url 'cards:index' %}"; });
    $("#return-results").button().click(function(event) { document.location = "{% url 'cards:list' %}"; });
	cdb.makeFieldNameAuto($("#cardtutor"), cdb.AUTO_NAVIGATE);
});
  </script>
</div>
{% endblock %}
{% block content %}
{% for working in cards %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3 text-center">
    <img class="cardimage" src="{{ working.card.img_url }}" alt="{{ working.card.basecard.name }}"/>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <table>
      <tbody>
        <tr>
          <td style="width: 130px;" class="cardattr">Name</td>
          <td>{{ working.card.basecard.name }}</td>
        </tr>
        <tr>
          <td class="cardattr">Mana Cost</td>
          <td>{{ working.card.mana_cost_html }}</td>
        </tr>
    <tr>
      <td class="cardattr">Type</td>
      <td>{% for ttype in working.card.basecard.types.all %}{{ ttype.type }} {% endfor %}</td>
    </tr>
{% if working.card.basecard.subtypes.all %}
    <tr>
      <td class="cardattr">Subtype</td>
      <td>{% for tsubtype in working.card.basecard.subtypes.all %}{{ tsubtype.subtype }} {% endfor %}</td>
    </tr>
{% endif %}
    <tr>
      <td class="cardattr">Text</td>
      <td>{{ working.card.rules_text_html|escape }}</td>
    </tr>
{% if working.card.basecard.power %}
    <tr>
      <td class="cardattr">Power</td>
      <td>{{ working.card.basecard.power }}</td>
    </tr>
{% endif %}
{% if working.card.basecard.toughness %}
    <tr>
      <td class="cardattr">Toughness</td>
      <td>{{ working.card.basecard.toughness }}</td>
    </tr>
{% endif %}
{% if working.card.basecard.loyalty %}
    <tr>
      <td class="cardattr">Loyalty</td>
      <td>{{ working.card.basecard.loyalty }}</td>
    </tr>
{% endif %}
    <tr>
      <td class="cardattr">CMC</td>
      <td>{{ working.card.basecard.cmc }}</td>
    </tr>
    <tr>
      <td class="cardattr">Color</td>
      <td>{% for tcolor in working.card.basecard.colors.all %}{{ tcolor.color }} {% endfor %}{% if working.card.basecard.colors.all|length == 0 %}Colorless{% endif %}</td>
    </tr>
    <tr>
      <td class="cardattr">Multiverse Id</td>
      <td>{{ working.card.multiverseid }}</td>
    </tr>
    <tr>
      <td class="cardattr">card.ninja Card&nbsp;Rating</td>
      <td>
        {% for cardrating in working.card.basecard.physicalcard.cardrating_set.all %}
          {% if cardrating.test.id == 1 %}
            {% if cardrating.format.id == 21 %}
              <span class="hidden-xs">{{cardrating.format.formatname}}</span><span class="visible-xs-inline">Std</span>: {{cardrating.cardninjaRating|floatformat:3 }}<!-- (confidence {{cardrating.confidence|floatformat:2 }})--><br>

            {% endif %}
            {% if cardrating.format.id == 20 %}
              <span class="hidden-xs">{{cardrating.format.formatname}}</span><span class="visible-xs-inline">Mod</span>: {{cardrating.cardninjaRating|floatformat:3 }}<!-- (confidence {{cardrating.confidence|floatformat:2 }})--><br>

            {% endif %}
            {% if cardrating.format.id == 18 %}
              <span class="hidden-xs">{{cardrating.format.formatname}}</span><span class="visible-xs-inline">EDH</span>: {{cardrating.cardninjaRating|floatformat:3 }}<!-- (confidence {{cardrating.confidence|floatformat:2 }})--><br>
            {% endif %}
            {% if cardrating.format.id == 19 %}
              <span class="hidden-xs">{{cardrating.format.formatname}}</span><span class="visible-xs-inline">TL</span>: {{cardrating.cardninjaRating|floatformat:3 }}<!-- (confidence {{cardrating.confidence|floatformat:2 }})--><br>
            {% endif %}
          {% endif %}
        {% endfor%}
      </td>
    </tr>
    <tr>
      <td class="cardattr">Expansion Set</td>
      <td>{{ working.card.expansionset.name }}</td>
    </tr>
    <tr>
      <td class="cardattr">Flavor Text</td>
      <td>{{ working.card.flavor_text_html }}</td>
    </tr>
{% if working.card.mark.mark %}
    <tr>
      <td class="cardattr">Mark</td>
      <td>{{ working.card.mark.mark }}</td>
    </tr>
{% endif %}
    <tr>
      <td class="cardattr">Rarity</td>
      <td>{{ working.card.rarity.rarity }}</td>
    </tr>
    <tr>
      <td class="cardattr">Card Number</td>
      <td>{{ working.card.card_number }}</td>
    </tr>
<!--    <tr>
      <td class="cardattr">Keywords</td>
      <td>
        {% for kw in keywords %}
{{ kw.keyword }}, 
{% endfor %}</td>
    </tr> -->
        <tr>
          <td class="cardattr">All Versions</td>
          <td>{% for ocard in other_versions %}<a href="{% url 'cards:detail' multiverseid=ocard.multiverseid slug=ocard.url_slug %}">{{ ocard.expansionset.abbr }}</a> {% endfor %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-1 col-md-3 col-lg-3"></div>
</div>
{% endfor %}
<div class="battles-block">
<div class="row">
  <div class="col-xs-12">
    <h3>Current Legal Formats</h3>
  </div>
</div>
{% for format, details in card_format_details.items %}
<div class="row">
  <div class="col-xs-12">
    <h4>{{details.format.formatname}} - card.ninja Rating {{details.rating.cardninjaRating|floatformat:3 }}</h4>
    <div>Rating Confidence: {{details.rating.confidence|floatformat:3 }}</div>
    <div><b>Wins</b> - {{details.wincount}} ({{details.winpercentage|floatformat:1}}%)</div>
{% if details.wincount > 0 %}
    <div>{{ physicalCardTitle }} has beaten these cards in card.ninja Battles:</div>
    <div class="row">
      {% for woncard in details.card_wins %}
        <div class="col-xs-6 col-sm-4 col-md-2 card-tile">
          <div class="text-center"><a href="{% url 'cards:detail' woncard.multiverseid woncard.url_slug %}"><img class="list_cardimage" src="{{ woncard.img_url }}" alt="{{ woncard.basecard.name }}"/></a></div>
          <div class="text-center"><a href="{% url 'cards:detail' woncard.multiverseid woncard.url_slug %}">{{woncard.basecard.name}}</a></div>
        </div>
      {% endfor %}
    </div>
{% endif %}
    <div><b>Losses</b> - {{details.losecount}} ({{details.losepercentage|floatformat:1}}%)</div>
{% if details.losecount > 0 %}
    <div>{{ physicalCardTitle }} has lost to these cards in card.ninja Battles:</div>
    <div class="row">
      {% for lostcard in details.card_losses %}
        <div class="col-xs-6 col-sm-4 col-md-2 card-tile">
          <div class="text-center"><a href="{% url 'cards:detail' lostcard.multiverseid lostcard.url_slug %}"><img class="list_cardimage" src="{{ lostcard.img_url }}" alt="{{ lostcard.basecard.name }}"/></a></div>
          <div class="text-center"><a href="{% url 'cards:detail' lostcard.multiverseid lostcard.url_slug %}">{{lostcard.basecard.name}}</a></div>
        </div>
      {% endfor %}
    </div>
{% endif %}
    <div><a href="{% url 'cards:battle' format=details.format.formatname %}?bcid={{primary_basecard_id}}">Battle in Current {{details.format.formatname}}</a></div>
  </div>
</div>
{% endfor %}
</div>
<div class="similiar-block">
  <div class="row">
    <div class="col-xs-12">
      <h3>Similar Cards to {{physicalCardTitle}}</h3>
    </div>
  </div>
  <div class="row">
    {% for sim in similars %}
      <div class="col-xs-6 col-sm-4 col-md-2 card-tile">
        <div class="text-center"><a href="{% url 'cards:detail' sim.multiverseid sim.url_slug %}"><img class="list_cardimage" src="{{ sim.img_url }}" alt="{{ sim.basecard.name }}"/></a></div>
        <div class="text-center"><a href="{% url 'cards:detail' sim.multiverseid sim.url_slug %}">{{sim.basecard.name}}</a></div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="rulings-block">
  <div class="row">
    <div class="col-xs-12">
      <h3>Rulings</h3>
    </div>
  </div>
  <div class="row well">
    <div class="col-xs-12">
      <dl class="dl-horizontal">
        {% for ruling in rulings %}
          <dt class="rulingdate">{{ruling.ruling_date|date:"Y-m-d"}}</dt>
          <dd class="cardruling">{{ruling.ruling_text}}</dd>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>

<div style="margin-top: 20px;" class="row"><div class="col-xs-3"><a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid={{request_muid}}" target="_blank">View on Gatherer</a></div></div>
{% endblock %}
