{% extends "base.html" %}

{% block title %}{{ physicalCardTitle }}{% endblock %}
{% block pagetitle %}{{ physicalCardTitle }}{% if std_card_stat.is_staple %} <span class="staple-standard">Standard Staple</span> {% endif %}{% if mod_card_stat.is_staple %} <span class="staple-modern">Modern Staple</span> {% endif %}{% endblock %}
{% block description %}Magic: The Gathering card {{ physicalCardTitle }} information and analysis{% endblock %}

{% block subsearchnav %}
<div class="row" style="padding-bottom: 8px; border-bottom: 1px solid #eee;">
  <div class="col-xs-6 col-sm-3 col-md-2"><button id="return-terms" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp;Search Terms</button></div>
  <div class="col-xs-6 col-sm-3 col-md-2"><button id="return-results" class="btn btn-default"><span class="glyphicon glyphicon-list"></span>&nbsp;Search Results</button></div>
  <div class="col-xs-2 col-sm-2 col-md-1 searchlabel text-right" style="padding-top: 8px"><label for="cardname" class="control-label">Tutor</label></div>
  <div class="col-xs-10 col-sm-4 col-md-5 col-lg-4" style="padding-top: 6px;"><input id="cardtutor" type="text" name="cardtutor" class="form-control input-sm"/></div>
  <script>
$(function() {
    $("#return-terms").button().click(function(event) { document.location = "{% url 'cards:index' %}"; });
    $("#return-results").button().click(function(event) { document.location = "{% url 'cards:list' %}"; });
    cdb.makeFieldNameAuto($("#cardtutor"), cdb.AUTO_NAVIGATE);
});
  </script>
</div>
{% endblock %}
{% block content %}
<script type="text/javascript">
// Load the Visualization API and the piechart package.
//google.load('visualization', '1.1', {'packages':['line']});
google.load('visualization', '1.1', {'packages':['corechart']});

function drawCardStatsChart(formatname) {
    cardstats = cn.getCardStats(formatname,{{request_mvid}});
    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Format Start Date');
    data.addColumn('number', '% of Decks');
    data.addColumn('number', 'Avg # of Cards');
    for (var p = 0; p < cardstats.length; p++) {
        var myrow = [cardstats[p].format_start_date, cardstats[p].in_decks_percentage / 100, cardstats[p].average_card_count_in_deck];
        data.addRow(myrow);
    }

    var options = {
        chart: {
          /*title: '% of All Cards in Format',*/
        },
        legend: { position: 'right', },
        curveType: 'function',
        fontName: 'Arial',
        colors: ['#4d5f8b','#e19d29'],
        width: Math.min(800, $('#collapse-' + formatname + '-meta').innerWidth()),
        height: 220,
        series: {
          // Gives each series an axis name that matches the Y-axis below.
          0: {axis: '% of Decks', targetAxisIndex: 0, curveType: 'function', fontName: 'Arial', },
          1: {axis: 'Avg # of Cards', targetAxisIndex: 1, curveType: 'function', fontName: 'Arial',},
        },
        axes: {
          // Adds labels to each axis; they don't have to match the axis names.
          y: {
            Cards: {label: 'Avg # of Cards', },
            Decks: {label: '% of Decks', },
          }
        },
        hAxis: { title: 'Format Start Date',
                 textStyle: { fontName: 'Arial', },
                 titleTextStyle: { fontName: 'Arial', },
        },
        vAxes: [{title: '% of Decks',
                 gridlines: {count: 4},
                 minValue: 0.0,
                 titleTextStyle: { color: '#4d5f8b', fontName: 'Arial', },
                 textStyle: { color: '#4d5f8b', fontName: 'Arial', },
                 viewWindow: { min: 0.0 },
                 baseline: 0.0,
                 format:'#.###%'
                },
                {title: 'Avg # of Cards',
                 gridlines: {count: 4},
                 titleTextStyle: { color: '#e19d29', fontName: 'Arial', },
                 textStyle: { color: '#e19d29', fontName: 'Arial', },
                 minValue: 0.0,
                 viewWindow: { min: 0.0 },
                 baseline: 0.0,
                 format:'#.###'
                },
        ],
        theme: 'material' 
    };
    if (options.width < 800) {
        options.legend.position = 'bottom';
        options.height = options.height + 30;
    }
    //var lchart = new google.charts.Line(document.getElementById('cardstats-' + formatname));
    //lchart.draw(data, google.charts.Line.convertOptions(options));
    var lchart = new google.visualization.LineChart(document.getElementById('cardstats-' + formatname));
    lchart.draw(data, options);
}
</script>
{% for working in cards %}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3 text-center">
    <img class="cardimage" src="{{ working.card.img_url }}" alt="{{ working.card.basecard.name }}"/>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <table>
      <tbody>
        <tr>
          <td style="width: 130px;" class="cardattr">Name</td>
          <td>{{ working.card.basecard.name }}</td>
        </tr>
        <tr>
          <td class="cardattr">Mana Cost</td>
          <td>{{ working.card.mana_cost_html }}</td>
        </tr>
{% if working.card.basecard.supertypes.all %}
    <tr>
      <td class="cardattr">Supertype</td>
      <td>{% for tsupertype in working.card.basecard.supertypes.all %}{{ tsupertype.supertype }} {% endfor %}</td>
    </tr>
{% endif %}
    <tr>
      <td class="cardattr">Type</td>
      <td>{% for ttype in working.card.basecard.types.all %}{{ ttype.type }} {% endfor %}</td>
    </tr>
{% if working.card.basecard.subtypes.all %}
    <tr>
      <td class="cardattr">Subtype</td>
      <td>{% for tsubtype in working.card.basecard.subtypes.all %}{{ tsubtype.subtype }} {% endfor %}</td>
    </tr>
{% endif %}
    <tr>
      <td class="cardattr">Text</td>
      <td>{{ working.card.rules_text_html|escape }}</td>
    </tr>
{% if working.card.basecard.power %}
    <tr>
      <td class="cardattr">Power</td>
      <td>{{ working.card.basecard.power }}</td>
    </tr>
{% endif %}
{% if working.card.basecard.toughness %}
    <tr>
      <td class="cardattr">Toughness</td>
      <td>{{ working.card.basecard.toughness }}</td>
    </tr>
{% endif %}
{% if working.card.basecard.loyalty %}
    <tr>
      <td class="cardattr">Loyalty</td>
      <td>{{ working.card.basecard.loyalty }}</td>
    </tr>
{% endif %}
    <tr>
      <td class="cardattr">CMC</td>
      <td>{{ working.card.basecard.cmc }}</td>
    </tr>
    <tr>
      <td class="cardattr">Color</td>
      <td>{% for tcolor in working.card.basecard.colors.all %}{{ tcolor.color }} {% endfor %}{% if working.card.basecard.colors.all|length == 0 %}Colorless{% endif %}</td>
    </tr>
    <tr>
      <td class="cardattr">card.ninja Card&nbsp;Rating</td>
      <td>
        {% for format, details in card_format_details.items %}
          <span class="hidden-xs-inline">{{details.format.formatname}}</span><span class="visible-xs-inline">{{details.format.abbr}}</span>:
          {{details.rating.cardninjaRating|floatformat:2 }}<br>
        {% endfor%}
      </td>
    </tr>
    <tr>
      <td class="cardattr">Expansion Set</td>
      <td>{{ working.card.expansionset.name }}</td>
    </tr>
    <tr>
      <td class="cardattr">Multiverse Id</td>
      <td>{{ working.card.multiverseid }}</td>
    </tr>
    <tr>
      <td class="cardattr">Flavor Text</td>
      <td>{{ working.card.flavor_text_html }}</td>
    </tr>
{% if working.card.mark.mark %}
    <tr>
      <td class="cardattr">Mark</td>
      <td>{{ working.card.mark.mark }}</td>
    </tr>
{% endif %}
    <tr>
      <td class="cardattr">Rarity</td>
      <td>{{ working.card.rarity.rarity }}</td>
    </tr>
    <tr>
      <td class="cardattr">Card Number</td>
      <td>{{ working.card.card_number }}</td>
    </tr>
<!--    <tr>
      <td class="cardattr">Keywords</td>
      <td>
        {% for kw in keywords %}
{{ kw.keyword }}, 
{% endfor %}</td>
    </tr> -->
        <tr>
          <td class="cardattr">All Versions</td>
          <td>{% for ocard in other_versions %}<a href="{% url 'cards:detail' multiverseid=ocard.multiverseid slug=ocard.url_slug %}">{{ ocard.expansionset.abbr }}</a> {% endfor %}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-1 col-md-3 col-lg-3"></div>
</div>
{% endfor %}
<div class="battles-block">
  <div class="row">
    <div class="col-xs-12">
      <h3>Current Legal Formats</h3>
    </div>
  </div>
  {% for format, details in card_format_details.items %}
    <div class="row">
      <div class="col-xs-12">
        <h4>{{details.format.formatname}}</h4>
        <div class="panel-group" id="accordion-{{details.format.formatname}}" role="tablist" aria-multiselectable="true">
          {% for card_stat in card_stats %}
            {% if card_stat.format.formatname == details.format.formatname %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-{{details.format.formatname}}-meta">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-{{details.format.formatname}}" href="#collapse-{{details.format.formatname}}-meta" aria-expanded="false" aria-controls="collapse-{{details.format.formatname}}-meta">
                      <i class="indicator glyphicon glyphicon-menu-right pull-left" style="font-size: 90%; padding-right: 5px;"></i> Metagame Statistics
                    </a> {% if card_stat.is_staple %} <span class="staple-{{details.format.formatname|lower}}">{{details.format.formatname}} Staple</span> {% endif %}
                  </h5>
                </div>
                <div id="collapse-{{details.format.formatname}}-meta" class="panel-collapse {%if card_stat.format.formatname != "Modern" %}collapse{%endif%}" role="tabpanel" aria-labelledby="heading-{{details.format.formatname}}-meta">
                  <div class="panel-body">
                    <div id="cardstats-{{details.format.formatname}}"></div>
                    <div>Appears in {{details.format.formatname}} decks: {{card_stat.in_decks_percentage|floatformat:1}}%</div>
                    <div>When included, average number included in deck: {{card_stat.average_card_count_in_deck|floatformat:2}}</div>
                  </div>
                </div>
                <script>$('#accordion-{{details.format.formatname}}').on('shown.bs.collapse', function () { drawCardStatsChart('{{details.format.formatname}}'); });</script>
                {%if card_stat.format.formatname == "Modern" %}<script>google.setOnLoadCallback(function(){ drawCardStatsChart('{{details.format.formatname}}');});</script>{%endif%}
              </div>
            {%endif%}
          {%endfor%}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-{{details.format.formatname}}-rating">
              <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-{{details.format.formatname}}" href="#collapse-{{details.format.formatname}}-rating" aria-expanded="false" aria-controls="collapse-{{details.format.formatname}}-rating">
                  <i class="indicator glyphicon glyphicon-menu-right pull-left" style="font-size: 90%; padding-right: 5px;"></i> card.ninja Card Rating: {{details.rating.cardninjaRating|floatformat:2 }}
                </a>
              </h5>
            </div>
            <div id="collapse-{{details.format.formatname}}-rating" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{details.format.formatname}}-rating">
              <div class="panel-body">
                <div><a href="{% url 'cards:battle' format=details.format.formatname %}?bcid={{primary_basecard_id}}">Battle in Current {{details.format.formatname}}</a></div>
                <div>Rating Confidence: {{details.rating.confidence|floatformat:2 }}</div>
                <div><b>Wins</b> - {{details.wincount}} ({{details.winpercentage|floatformat:1}}%)</div>
                {% if details.wincount > 0 %}
                  <div>{{ physicalCardTitle }} has beaten these cards in card.ninja Battles:</div>
                  <div class="row">
                    {% for woncard in details.card_wins %}
                      <div class="col-xs-6 col-sm-4 col-md-2 card-tile">
                        <div class="text-center"><a href="{% url 'cards:detail' woncard.multiverseid woncard.url_slug %}"><img class="list_cardimage" src="{{ woncard.img_url }}" alt="{{ woncard.basecard.name }}"/></a></div>
                        <div class="text-center"><a href="{% url 'cards:detail' woncard.multiverseid woncard.url_slug %}">{{woncard.basecard.name}}</a></div>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
                <div><b>Losses</b> - {{details.losecount}} ({{details.losepercentage|floatformat:1}}%)</div>
                {% if details.losecount > 0 %}
                  <div>{{ physicalCardTitle }} has lost to these cards in card.ninja Battles:</div>
                  <div class="row">
                    {% for lostcard in details.card_losses %}
                      <div class="col-xs-6 col-sm-4 col-md-2 card-tile">
                        <div class="text-center"><a href="{% url 'cards:detail' lostcard.multiverseid lostcard.url_slug %}"><img class="list_cardimage" src="{{ lostcard.img_url }}" alt="{{ lostcard.basecard.name }}"/></a></div>
                        <div class="text-center"><a href="{% url 'cards:detail' lostcard.multiverseid lostcard.url_slug %}">{{lostcard.basecard.name}}</a></div>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<script>
function toggleChevron(e) {
    $(e.target)
        .prev('.panel-heading')
        .find("i.indicator")
        .toggleClass('glyphicon-menu-right glyphicon-menu-down');
}
$('.panel-group').on('hidden.bs.collapse', toggleChevron);
$('.panel-group').on('shown.bs.collapse', toggleChevron);
</script>
<div class="similiar-block">
  <div class="row">
    <div class="col-xs-12">
      <h3>Similar Cards to {{physicalCardTitle}}</h3>
    </div>
  </div>
  <div class="row">
    {% for sim in similars %}
      <div class="col-xs-6 col-sm-4 col-md-2 card-tile">
        <div class="text-center"><a href="{% url 'cards:detail' sim.multiverseid sim.url_slug %}"><img class="list_cardimage" src="{{ sim.img_url }}" alt="{{ sim.basecard.physicalcard.get_card_name }}"/></a></div>
        <div class="text-center"><a href="{% url 'cards:detail' sim.multiverseid sim.url_slug %}">{{sim.basecard.physicalcard.get_card_name}}</a></div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="rulings-block">
  <div class="row">
    <div class="col-xs-12">
      <h3>Rulings</h3>
    </div>
  </div>
  <div class="row well">
    <div class="col-xs-12">
      <dl class="dl-horizontal">
        {% for ruling in rulings %}
          <dt class="rulingdate">{{ruling.ruling_date|date:"Y-m-d"}}</dt>
          <dd class="cardruling">{{ruling.ruling_text}}</dd>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>

<div style="margin-top: 20px;" class="row"><div class="col-xs-3"><a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid={{request_mvid}}" target="_blank">View on Gatherer</a></div></div>
{% endblock %}
