{% extends "base.html" %}
{% load content %}
{% load utils %}
{% block pagetitle %}{{formatname}} Format Statistics{% endblock %}
{% block title %}{{formatname}} Format Statistics{% endblock %}
{% block description %}Top and Most Played Magic: The Gathering cards in {{formatname}}. Cards trending up and down in {{ formatname }}{% endblock %}

{% block content %}
{% load cache %}
{% cache 1800 card_formatstats_html formatname %}
<style>
.deckdata {
  background-color: #EDE7F6;
}
.carddata {
  background-color: #E0F2F1;
}
.numdata {
  width: 7em;
}
#format-start-date {
  font-weight: bold;
}
#format-end-date {
  font-weight: bold;
}
</style>
{% content key=request.path position="top" %}
<div class="row">
  <div class="col-xs-12">
    {% if went_back_one %}
      <p>
        Format statistics for
        <b><a href="{% url 'cards:search' %}?query={{ '[{"field":"format","op":"and","value":"'|iriencode }}{{ current_format.format|iriencode }}{{ '","hint":"format"}]'|iriencode }}">{{ formatname }}</a></b>
        are compiled by evaluating the occurrence of each card in the format,
        and comparing it to the inclusion of that card in the previous iterations of the format over the 6
        months prior to the start of this iteration of the format. The decks used to make these calculations have all been
        played competitively, and were top-ranked (<i>e.g.</i>, "Top 8") in their tournaments.
      </p>
      <p>
        <span style="font-style:italic;">
          However, there have not been a sufficient number of tournaments in the current iteration of {{ formatname }}
          to establish a reasonable trend. So, the results below are for the <b>previous</b> iteration of
          <b><a href="{% url 'cards:search' %}?query={{ '[{"field":"format","op":"and","value":"'|iriencode }}{{ first_format.format|iriencode }}{{ '","hint":"format"}]'|iriencode }}">{{ formatname }}</a></b>.
        </span>
      </p>
      <p>
        This iteration of {{ formatname }} Format started on
        <span id="format-start-date">{{ first_format.start_date }}</span>, and was updated on
        <span id="format-end-date">{{ first_format.end_date }}</span>. The formats that are being used for comparison
        are
        {% for pf in past_formats %}{% if forloop.last %}and {% endif %}{{ pf.format }}{% if not forloop.last %}, {% endif %}{% endfor %}.
      </p>
      <p>
        <b>{{ formatstat.tournamentdeck_count }} decks</b> have been evaluated to determine these trends.
      </p>
    {% else %}
      <p>
        Format statistics for
        <b><a href="{% url 'cards:search' %}?query={{ '[{"field":"format","op":"and","value":"'|iriencode }}{{ current_format.format|iriencode }}{{ '","hint":"format"}]'|iriencode }}">{{ formatname }}</a></b>
        are compiled by evaluating the occurrence of each card in the current legal
        format, and comparing it to the inclusion of that card in the previous iterations of the format over the 6
        months prior to the start of this iteration of the format. The decks used to make these calculations have all been
        played competitively, and were top-ranked (<i>e.g.</i>, "Top 8") in their tournaments.
      </p>
      <p>
        The current {{ formatname }} Format started on
        <span id="format-start-date">{{ first_format.start_date }}</span>, and will be updated on
        <span id="format-end-date">{{ first_format.end_date }}</span>. The formats that are being used for comparison
        are
        {% for pf in past_formats %}{% if forloop.last %}and {% endif %}{{ pf.format }}{% if not forloop.last %}, {% endif %}{% endfor %}.
      </p>
      <p>
        <b>{{ formatstat.tournamentdeck_count }} decks</b> have been evaluated in the current format.
      </p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Top 100 Cards</h3>
    <div class="table-responsive">
      <table class="table table-condensed table-striped formatstats">
        <caption>100 most played cards in {{ formatname }}</caption>
        <tr>
          <th class="numdata">Place</th>
          <th>Card</th>
          <th class="numdata text-center">Card Rating</th>
          <th class="numdata deckdata text-center">% of Decks Playing</th>
          <th class="numdata deckdata text-center">% Change</th>
          <th class="numdata carddata text-center">% of All Cards</th>
          <th class="numdata carddata text-center">% Change</th>
          <th class="numdata text-center">Recent Lowest Price</th>
        </tr>
        {% for topfcs in top %}
          <tr>
            <td class="text-center">{{forloop.counter}}</td>
            <td>
              <a href="{% url 'cards:detail' topfcs.physicalcard.get_latest_card.multiverseid topfcs.physicalcard.get_latest_card.url_slug %}"
                 data-mid="{{topfcs.physicalcard.get_latest_card.multiverseid}}">
                {{ topfcs.physicalcard.get_card_name }}
              </a>
            </td>
            <td class="text-center">
              {{ topfcs.physicalcard|card_rating:current_format|floatformat:1 }}
            </td>
            <td class="deckdata text-center">
              {{ topfcs.percentage_of_all_decks|as_percentage_string }}
            </td>
            <td class="deckdata text-center {% if topfcs.percentage_of_all_decks_perchange > 0 %}positive-change{% elif topfcs.percentage_of_all_decks_perchange < 0 %}negative-change{% endif %}">
              {% if topfcs.percentage_of_all_decks_perchange %}
                {% if topfcs.percentage_of_all_decks_perchange > 0 %}
                  <i class="glyphicon glyphicon-arrow-up"></i>
                {% elif topfcs.percentage_of_all_decks_perchange < 0 %}
                  <i class="glyphicon glyphicon-arrow-down"></i>
                {%endif%}
                {{topfcs.percentage_of_all_decks_perchange|as_percentage_string:2}}
              {% else %}
                n/a
              {%endif%}
            </td>
            <td class="carddata text-center">
              {{ topfcs.percentage_of_all_cards|as_percentage_string:3 }}
            </td>
            <td class="carddata text-center {% if topfcs.percentage_of_all_cards_perchange > 0 %}positive-change{% elif topfcs.percentage_of_all_cards_perchange < 0 %}negative-change{% endif %}">
              {% if topfcs.percentage_of_all_cards_perchange %}
                {% if topfcs.percentage_of_all_cards_perchange > 0 %}
                  <i class="glyphicon glyphicon-arrow-up"></i>
                {% elif topfcs.percentage_of_all_cards_perchange < 0 %}
                  <i class="glyphicon glyphicon-arrow-down"></i>
                {%endif%}
                {{ topfcs.percentage_of_all_cards_perchange|as_percentage_string:1 }}
              {% else %}
                n/a
              {%endif%}
            </td>
            <td class="text-right">
              {% if topfcs.physicalcard.latest_aggregate_cardprices %}
                ${{ topfcs.physicalcard.latest_aggregate_cardprices|get_item:'min'|floatformat:2 }}
                <!-- {{ topfcs.physicalcard.latest_aggregate_cardprices|get_item:'at_datetime' }} -->
              {% else %}
                $-.--
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% content key=request.path position="mid" %}
    
    <h3>Cards Trending Up</h3>
    <div class="table-responsive">
      <table class="table table-condensed table-striped formatstats">
        <caption>50 cards trending up in {{ formatname }}</caption>
        <tr>
          <th class="numdata">Place</th>
          <th>Card</th>
          <th class="numdata text-center">Card Rating</th>
          <th class="numdata deckdata text-center">% of Decks Playing</th>
          <th class="numdata deckdata text-center">% Change</th>
          <th class="numdata carddata text-center">% of All Cards</th>
          <th class="numdata carddata text-center">% Change</th>
          <th class="numdata text-center">Recent Lowest Price</th>
        </tr>
        {% for pcard in trendingup %}
          <tr>
            <td class="text-center">{{forloop.counter}}</td>
            <td><a href="{% url 'cards:detail' pcard.get_latest_card.multiverseid pcard.get_latest_card.url_slug %}" data-mid="{{pcard.get_latest_card.multiverseid}}">{{pcard.get_card_name}}</a></td>
            <td class="text-center">
              {{ pcard|card_rating:current_format|floatformat:1 }}
            </td>
            <td class="deckdata text-center">{{pcard.decks_current_percentage|floatformat:3}}%</td>
            <td class="deckdata text-center {% if pcard.decks_per_change > 0 %}positive-change{% elif pcard.decks_per_change < 0 %}negative-change{% endif %}">
              {% if pcard.decks_per_change %}
                {% if pcard.decks_per_change > 0 %}
                  <i class="glyphicon glyphicon-arrow-up"></i>
                {% elif pcard.decks_per_change < 0 %}
                  <i class="glyphicon glyphicon-arrow-down"></i>
                {%endif%}
                {{pcard.decks_per_change|floatformat:2}}%
              {% else %}
                n/a
              {%endif%}
            </td>
            <td class="carddata text-center">{{pcard.current_percentage|floatformat:3}}%</td>
            <td class="carddata text-center {% if pcard.per_change > 0 %}positive-change{% elif pcard.per_change < 0 %}negative-change{% endif %}">
              {% if pcard.per_change %}
                {% if pcard.per_change > 0 %}
                  <i class="glyphicon glyphicon-arrow-up"></i>
                {% elif pcard.per_change < 0 %}
                  <i class="glyphicon glyphicon-arrow-down"></i>
                {%endif%}
                {{pcard.per_change|floatformat:2}}%
              {% else %}
                n/a
              {%endif%}
            </td>
            <td class="text-right">
              {% if pcard.latest_aggregate_cardprices %}
                ${{ pcard.latest_aggregate_cardprices|get_item:'min'|floatformat:2 }}
                <!-- {{ pcard.latest_aggregate_cardprices|get_item:'at_datetime' }} -->
              {% else %}
                $-.--
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <h3>Cards Trending Down</h3>
    <div class="table-responsive">
      <table class="table table-condensed table-striped formatstats">
        <caption>50 cards trending down in {{ formatname }}</caption>
        <tr>
          <th class="numdata">Place</th>
          <th>Card</th>
          <th class="numdata text-center">Card Rating</th>
          <th class="numdata deckdata text-center">% of Decks Playing</th>
          <th class="numdata deckdata text-center">% Change</th>
          <th class="numdata carddata text-center">% of All Cards</th>
          <th class="numdata carddata text-center">% Change</th>
          <th class="numdata text-center">Recent Lowest Price</th>
        </tr>
        {% for pcard in trendingdown %}
          <tr>
            <td class="text-center">{{forloop.counter}}</td>
            <td><a href="{% url 'cards:detail' pcard.get_latest_card.multiverseid pcard.get_latest_card.url_slug %}" data-mid="{{pcard.get_latest_card.multiverseid}}">{{pcard.get_card_name}}</a></td>
            <td class="text-center">
              {{ pcard|card_rating:current_format|floatformat:1 }}
            </td>
            <td class="deckdata text-center">{{pcard.decks_current_percentage|floatformat:3}}%</td>
            <td class="deckdata text-center {% if pcard.decks_per_change > 0 %}positive-change{% elif pcard.decks_per_change < 0 %}negative-change{% endif %}">
              {% if pcard.decks_per_change %}
                {% if pcard.decks_per_change > 0 %}
                  <i class="glyphicon glyphicon-arrow-up"></i>
                {% elif pcard.decks_per_change < 0 %}
                  <i class="glyphicon glyphicon-arrow-down"></i>
                {%endif%}
                {{pcard.decks_per_change|floatformat:2}}%
              {% else %}
                n/a
              {%endif%}
            </td>
            <td class="carddata text-center">{{pcard.current_percentage|floatformat:3}}%</td>
            <td class="carddata text-center {% if pcard.per_change > 0 %}positive-change{% elif pcard.per_change < 0 %}negative-change{% endif %}">
              {% if pcard.per_change %}
                {% if pcard.per_change > 0 %}
                  <i class="glyphicon glyphicon-arrow-up"></i>
                {% elif pcard.per_change < 0 %}
                  <i class="glyphicon glyphicon-arrow-down"></i>
                {%endif%}
                {{pcard.per_change|floatformat:2}}%
              {% else %}
                n/a
              {%endif%}
            </td>
            <td class="text-right">
              {% if pcard.latest_aggregate_cardprices %}
                ${{ pcard.latest_aggregate_cardprices|get_item:'min'|floatformat:2 }}
                <!-- {{ pcard.latest_aggregate_cardprices|get_item:'at_datetime' }} -->
              {% else %}
                $-.--
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% content key=request.path position="bottom" %}

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Other Formats</h4>
    <style>li.common-search { margin-right: 18px; margin-bottom: 9px; display: inline-block; }</style>
    <ul style="padding-left: 0;">
      {% for cff in current_formats %}
        <li class="common-search"><a href="/cards/stats/{{cff.formatname|lower}}/">{{cff.formatname}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<!--
{% for pcard in top %}{{pcard.id}}
{% endfor %}
{% for pcard in trendingup %}{{pcard.id}}
{% endfor %}
{% for pcard in trendingdown %}{{pcard.id}}
{% endfor %}
 -->
{% endcache %}
{% endblock %}
    
