{% extends "base.html" %}

{% block pagetitle %}Ratings{% endblock %}
{% block title %}Ratings{% endblock %}

{% block content %}
<script type="text/javascript">
google.load('visualization', '1.1', {'packages':['bar']});

function drawRecentChart(formatname) {
    // Create the data table.
    var data = google.visualization.arrayToDataTable([
         ['Time', 'Battle Count'],
         {% for rrr in activity %}[new Date('{{rrr.datehour|date:"cO"}}'), {{rrr.count}}],
{% endfor %}
      ]);

    var options = {
        chart: {
          /*title: '% of All Cards in Format',*/
        },
        legend: { position: 'right', },
		colors: ['#4d5f8b','#e19d29'],
        width: 1000,
        height: 400,
		series: {
          // Gives each series an axis name that matches the Y-axis below.
          0: {axis: 'Battle Count', targetAxisIndex: 0, },
        },
        axes: {
          // Adds labels to each axis; they don't have to match the axis names.
          y: {
            battles: {label: 'Battle Count'},
          }
        },
		vAxes: [{title: 'Battle Count',
		         gridlines: {count: 4},
		         minValue: 0,
		         viewWindow: { min: 0 },
		         baseline: 0,
		         //format:'#'
		        },
               ],
	};
    var cchart = new google.charts.Bar(document.getElementById('chartspot'));
    cchart.draw(data, google.charts.Bar.convertOptions(options));
	//var lchart = new google.visualization.LineChart(document.getElementById('line_div'));
    //lchart.draw(data, options);
}
</script>
<div class="row">
  <div class="col-xs-12">
    <h2>Format: {{format.format}}</h2>
  </div>
  <div class="col-xs-12">
	<div>Total Battles: {{battle_count}}</div>
	<div>Total Battle Goal for 3% Coverage: {{goal}} ({{percent_to_goal|floatformat:2}}%)</div>
	<div>Total Cards in this format: {{cards_count}}</div>
	<div>Total Battlers (Sessions): {{battlers_count}}</div>
	<div>Total Battles / Possible Battles: {{battle_percentage|floatformat:6}}%</div>

    <h3>Battle Distribution</h3>
    <table>
      <tr><th>Battle Count</th><th>Cards</th><th>% of Total Cards</th></tr>
      {% for key,value in tester.items %}
        <tr><td>{{key}}</td><td>{{value.count}}</td><td>{{value.percent|floatformat:2}}%</td></tr>
      {% endfor %}
    </table>

	<h3>Recent Battling</h3>
	<div id="chartspot">
	<script>google.setOnLoadCallback(function(){ drawRecentChart(); });</script>
    <table>
      <tr><th>Date and Hour (GMT)</th><th>Battles</th></tr>
      {% for a in activity %}
        <tr><td>{{a.datehour|date:"M d, h"}}:00</td><td>{{a.count}}<td></tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
