{% extends "base.html" %}

{% block pagetitle %}Ratings{% endblock %}
{% block title %}Ratings{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h2>Format: {{format.format}}</h2>
  </div>
  <div class="col-xs-12">
	<div>Total Battles: {{battle_count}}</div>
	<div>Total Battle Goal for 3% Coverage: {{goal}} ({{percent_to_goal|floatformat:2}}%)</div>
	<div>Total Cards in this format: {{cards_count}}</div>
	<div>Total Battlers (Sessions): {{battlers_count}}</div>
	<div>Total Battles / Possible Battles: {{battle_percentage|floatformat:6}}%</div>

    <h3>Battle Distribution</h3>
    <table>
      <tr><th>Battle Count</th><th>Cards</th><th>% of Total Cards</th></tr>
      {% for key,value in tester.items %}
        <tr><td>{{key}}</td><td>{{value.count}}</td><td>{{value.percent|floatformat:2}}%</td></tr>
      {% endfor %}
    </table>

    <h3>Recent Battling</h3>
    <table>
      <tr><th>Date and Hour (GMT)</th><th>Battles</th></tr>
      {% for a in activity %}
        <tr><td>{{a.datehour|date:"M d, h"}}:00</td><td>{{a.count}}<td></tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
