{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h1>Similar Card Strategy 1</h1>
      <p>
Very similar to base strategy, but fixes a few term issues. Some punctuation has been removed from rules text, and boolean words "or" and "and" have been replaced with literals that are not special words to the query processor.
      </p>
    </div>
  </div>
  {% for card in cards %}
    <div style="border-bottom: 2px solid #606060;" class="row">
      <div class="row">
        <div class="col-xs-12">
          <h2>{{card.basecard.physicalcard.get_card_name}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <img src="{{card.img_url}}"><br>
          {{card.rules_text_html|escape}}
        </div>
        <div class="col-xs-12 col-md-9">
          <pre>{{card.basecard.physicalcard.get_searchable_document_selfref_nosymbols|safe}}</pre>
        </div>
      </div>
      <div class="row">
        {% for scard in card.basecard.physicalcard.find_similar_cards|slice:"20" %}
          <div class="col-xs-6 col-sm-4 col-md-3 card-tile">
            <div class="text-center"><img src="{{scard.img_url}}" class="grid_cardimage"></div>
            <div class="text-center">{{scard.basecard.physicalcard.get_card_name}}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock%}
