<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="{% block description %}Exploring the theories and economics of Magic: The Gathering cards{% endblock %}">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Card Database{% endblock %} - card.ninja</title>
    <script>window.origTitle = document.title;</script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <script>{% if debug %}/*{% endif %}
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51890509-1', 'card.ninja');
  ga('send', 'pageview');
{% if debug %}*/{% endif %}    </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="/cn/cn.js"></script>
    <script src="/cn/cdb.js"></script>
    <link rel="stylesheet" href="/cn/cn.css">
  </head>

  <body role="document">
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand"><img class="logo-dark-bg" src="/cn/cardninja_light_sm.png" alt="card.ninja"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="top-menu-home" class=""><a href="/">Home</a></li>
            <li id="top-menu-search" class="active"><a href="{% url 'cards:index' %}">Card Search</a></li>
            <li id="top-menu-battle"><a href="{% url 'cards:battle' %}">Card Battle</a></li>
          </ul>
        </div>
      </div>
	</nav>
    <div class="container theme-showcase" role="main">
      <div id="content">
        <div class="page-header">
          <!-- <h1>Card Database</h1> -->
{% block subsearchnav %}{% endblock %}
		  <h2>{% block pagetitle %}Search{% endblock %}</h2>
        </div>
        <div class="container" style="padding-left: 0px; padding-right: 0px;">
	      {% block content %} this is the content block {% endblock %}
        </div>
      </div>
    </div>

    <div class="container">
      <div id="content">
        <div class="row" style="margin-top: 60px;">
		  <div class="col-sm-2 col-md-2 col-lg-3">&nbsp;</div>
          <div class="col-sm-8 col-md-7 col-lg-6">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- card detail bottom resp -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2349589868456305"
     data-ad-slot="2303419076"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	      </div>
		  <div class="col-sm-2 col-md-3 col-lg-3"></div>
		</div>
      </div>
	</div>
    <footer class="footer">
      <div class="container">
        <p>The information presented on this site about <em>Magic: The Gathering</em>, both literal and graphical, is TM and copyright of Wizards of the Coast, Inc. a subsidiary of Hasbro, Inc. All rights reserved. This site is unaffiliated. Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast, Inc., a subsidiary of Hasbro, Inc., in the United States and other countries. &copy; 2014 Wizards. All Rights Reserved. This web site is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast, Inc. This web site may use the trademarks and other intellectual property of Wizards of the Coast, Inc. which is permitted under Wizards' <a href="http://www.wizards.com/fankit/fantoolkitdnd.html">Fan Site Policy</a>. For more information about Wizards of the Coast or any of Wizards' trademarks or other intellectual property, please visit their website at <a href="http://www.wizards.com/">www.wizards.com</a>.</p>
        <p>&copy; 2014 Jason Crickmer. All rights reserved.</p>
        <p>Articles and comments may be user submitted and do not represent official endorsements of this site.</p>
        <ul class="footer-links">
          <li><a href="/terms-of-use/">Terms of Use</a></li>
          <li class="muted">|</li>
          <li><a href="/privacy-policy/">Privacy Policy</a></li>
          <li class="muted">|</li>
          <li><a href="/dcma-requests/">DCMA Requests</a></li>
          <li class="muted">|</li>
          <li><a href="/business-inquiries/">Business Inquiries</a></li>
        </ul>
      </div>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script>$(function(){document.title = window.origTitle;}); /* looks like bootstrap.js is changing my document.title. */</script>
{% if debug %}
<div id="debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ query.sql|escape }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
  </body>
</html>
