{% extends "cards/base.html" %}

{% block title %}Card Search{% endblock %}
{% block pagetitle %}Card Search{% endblock %}

{% block content %}
<form action="{% url 'cards:search' %}" method="get" role="form">
	<div class="row">
	  <div class="col-xs-12 col-sm-6">
	    <div class="row term_input form-group xs-gutters"> <!-- nesting columns -->
        <div class="col-xs-2 searchlabel"><label for="cardname" class="control-label">Name</label></div>
        <div class="col-xs-2"><select id="cardname_op" name="cardname_op" class="form-control input-sm"><option value="and" selected>and</option><option value="not">not</option></select></div>
        <div class="col-xs-6"><input id="cardname" type="text" name="cardname" class="form-control input-sm"/></div>
        <div class="col-xs-2"><button name="cardname_add" class="btn btn-default btn-sm add-btn">Add</button></div>
      </div>
      <div class="row term_input form-group xs-gutters">
        <div class="col-xs-2 searchlabel"><label for="rules" class="control-label">Rules</label></div>
        <div class="col-xs-2"><select id="rules_op" name="rules_op" class="form-control input-sm"><option value="and" selected>and</option><option value="not">not</option></select></div>
        <div class="col-xs-6"><input id="rules" type="text" name="rules" class="form-control input-sm"/></div>
        <div class="col-xs-2"><button class="btn btn-default btn-sm add-btn" name="rules_add">Add</button></div>
      </div>
      <div class="row term_input form-group xs-gutters">
        <div class="col-xs-2 searchlabel"><label for="color" class="control-label">Color</label></div>
        <div class="col-xs-2"><select id="color_op" name="color_op" class="form-control input-sm"><option value="and" selected>and</option><option value="not">not</option></select></div>
        <div class="col-xs-6">
          <select id="color" name="color" class="form-control input-sm">
            <option value="w">white</option>
            <option value="u">blue</option>
            <option value="b">black</option>
            <option value="r">red</option>
            <option value="g">green</option>
            <option value="c">colorless</option>
          </select>
        </div>
        <div class="col-xs-2"><button class="btn btn-default btn-sm add-btn" name="color_add">Add</button></div>
      </div>
      <div class="row term_input form-group xs-gutters">
        <div class="col-xs-2"><label for="cmc" class="control-label">CMC</label></div>
        <div class="col-xs-2"><select id="cmc_op" name="cmc_op" class="form-control input-sm"><option value="eq" selected>==</option><option value="ne">!=</option><option value="lt">&lt;</option><option value="gt">&gt;</option></select></div>
        <div class="col-xs-6"><input id="cmc" name="cmc" type="number" min="0" max="20" class="form-control input-sm"/></div>
        <div class="col-xs-2"><button class="btn btn-default btn-sm add-btn" name="cmc_add">Add</button></div>
      </div>
      <div class="row term_input form-group xs-gutters">
        <div class="col-xs-2 searchlabel"><label for="type" class="control-label">Type</label></div>
        <div class="col-xs-2"><select id="type_op" name="type_op" class="form-control input-sm"><option value="and" selected>and</option><option value="not">not</option></select></div>
        <div class="col-xs-6"><input id="type" name="type" type="text" class="form-control input-sm"/></div>
        <script>$(function() { var types = [{% for type in types %}"{{ type }}",{% endfor %}]; $("#type").autocomplete({source : types}); });</script>
        <div class="col-xs-2"><button class="btn btn-default btn-sm add-btn" name="type_add">Add</button></div>
      </div>
      <div class="row term_input form-group xs-gutters">
        <div class="col-xs-2 searchlabel"><label for="subtype" class="control-label">Subtype</label></div>
        <div class="col-xs-2"><select id="subtype_op" name="subtype_op" class="form-control input-sm"><option value="and" selected>and</option><option value="not">not</option></select></div>
        <div class="col-xs-6"><input id="subtype" name="subtype" type="text" class="form-control input-sm"/></div>
        <script>$(function() { var subtypes = [{% for subtype in subtypes %}"{{ subtype }}",{% endfor %}]; $("#subtype").autocomplete({source : subtypes}); });</script>
        <div class="col-xs-2"><button class="btn btn-default btn-sm add-btn" name="subtype_add">Add</button></div>
      </div>
      <div class="row term_input form-group xs-gutters">
        <div class="col-xs-2"><label for="rarity" class="control-label">Rarity</label></div>
        <div class="col-xs-2"><select id="rarity_op" name="rarity_op" class="form-control input-sm"><option value="or" selected>or</option><option value="not">not</option></select></div>
        <div class="col-xs-6"><select id="rarity" name="rarity" class="form-control input-sm"><option></option>
{% for rarity in rarities %}<option value="{{ rarity.id }}">{{ rarity.rarity }}</option>{% endfor %}
        </select></div>
        <div class="col-xs-2"><button class="btn btn-default btn-sm add-btn" name="rarity_add">Add</button></div>
      </div>
      <div class="row term_input form-group xs-gutters">
        <div class="col-xs-2"><label for="format" class="control-label">Format</label></div>
        <div class="col-xs-10"><select id="format" name="format" class="form-control input-sm">
          <option></option>
          <option value="Standard_2014-09-26">Standard (Current)</option>
          <option value="Modern_2014-09-26">Modern (Current)</option>
          <option value="Commander_2014-11-07">Commander (Current)</option>
          <option value="" disabled="disabled">───────────────</option>
{% for format in formats %}
          <option value="{{format.format}}">{{format.formatname}} ({{format.start_date}})</option>
{% endfor %}
        </select></div>
      </div>
    </div>
<!-- end term input column -->
<!-- start query column -->
    <div class="col-xs-12 col-sm-6">
      <div class="termsbox">
        <div class="text-right"><a id="clear_terms" href="#">Clear all terms</a></div>
        <ul id="search_terms" class="list-unstyled"></ul>
      </div>
      <div class="text-right"><button class="btn btn-primary send-query-btn" name="sendQuery">Search</button></div>
    </div>
<!-- end query column -->
  </div>
  <script>
window.predicates = {{ predicates_js|safe }};
$(function() {
    cdb.searchPredicatesDisplay(window.predicates, "#search_terms");
});
      </script>
      <script>
  $(function() {
    $("#format").on('change',function(event) {
        var match = false;
        for (var g = 0; g < window.predicates.length ; g++) {
            if (window.predicates[g].field == "format") {
                window.predicates[g].value = $("#format option:selected").attr("value");
                match = true;
            }
        }
        if (! match) {
            window.predicates.push({"field" : "format", "op" : "and", "value" : $("#format option:selected").attr("value"), "hint" : "format"});
        }
        cdb.searchPredicatesDisplay(window.predicates, "#search_terms");
    });
    $("#clear_terms").click(function() {
        window.predicates = [];
        cdb.searchPredicatesDisplay(window.predicates, "#search_terms");
        return false;
    });
    $("button.send-query-btn").button().click(function(event) {
        if (event.target.name == "sendQuery") {
            return cdb.sendQuery();
        }
     });
    $( "button.add-btn" )
      .button()
      .click(function( event ) {
        console.dir(event);
        console.log("You clicked it! " + event.target.name);
        var field_name = event.target.name.replace("_add","");
        var form_field = $("#" + field_name);
        var input_type = form_field.prop("tagName").toLowerCase();
        var op = $("#" + field_name + "_op option:selected").attr("value");
        if (input_type == "input") {
            console.log(field_name + " is an input");
            console.log(field_name + " is " + op + " value \"" + form_field.val() + "\"");
            var plops = form_field.val().split(" ");
            for (var p = 0; p < plops.length ; p++) {
                window.predicates.push({"field" : field_name, "op" : op, "value" : plops[p], "hint" : field_name + op + plops[p]});
            }
            form_field.val("");
        } else if (input_type == "select") {
            console.log(field_name + " is a select");
            var op = $("#" + field_name + "_op option:selected").attr("value");
            window.predicates.push({"field" : field_name, "op" : op, "value" : $("#" + field_name + " option:selected").attr("value"), "hint" : field_name + op + $("#" + field_name + " option:selected").attr("value")});
        } else { alert("I do not yet understand this query type."); }
        cdb.searchPredicatesDisplay(window.predicates, "#search_terms");
        event.preventDefault();
      });
  });
      </script>
</form>
<div class="row">
  <div class="col-xs-12">
    <h3>Common Searches</h3>
    <ul>
      <li><a href="_search">All Cards</a></li>
    </ul>
  </div>
</div>
{% endblock %}
