{% extends "cards/base.html" %}

{% block title %}Card Search{% endblock %}

{% block content %}
<form action="{% url 'cards:search' %}" method="get">
  <div>
    <label for="qcardname">Name Search</label> <input id="qcardname" type="text" name="qcardname" />
  </div>
  <div>
    <label for="qformat">Format</label> <select id="qformat" name="qformat">
      <option></option>
      <option value="Modern_2014-09-26">Modern (September 26, 2014)</option>
      <option value="Modern_2014-07-18">Modern (July 18, 2014)</option>
      <option value="Modern_2014-05-02">Modern (May 2, 2014)</option>
      <option value="Standard_2014-09-26">Standard (September 26, 2014)</option>
      <option value="Standard_2014-07-18">Standard (July 18, 2014)</option>
      <option value="Standard_2014-05-02">Standard (May 2, 2014)</option>
      <option value="Standard_2014-02-07">Standard (February 7, 2014)</option>
      <option value="Standard_2013-09-27">Standard (September 27, 2013)</option>
      <option value="Standard_2013-07-19">Standard (July 19, 2013)</option>
      <option value="Standard_2013-05-03">Standard (May 3, 2013)</option>
      <option value="Standard_2013-02-01">Standard (February 1, 2013)</option>
      <option value="Standard_2012-10-05">Standard (October 5, 2012)</option>
    </select>
  </div>
  <div>
    <input type="submit" name="search" value="Search" />
  </div>
</form>
<div>
  Go to the <a href="list/">List</a>.
</div>
{% endblock %}
