{% extends "cards/base.html" %}

{% block pagetitle %}Search Results ({{cards.paginator.count}}){% endblock %}
{% block title %}Search Results{% endblock %}

{% block content %}
  <style>
div.page-header {
  padding-bottom: 0px;
  border-bottom: none;
}
</style>
  <div class="termsbox">
    <a href="{% url 'cards:index' %}">Query: </a>
    <ul id="search_terms" style="display: inline;" class="list-inline list-unstyled"></ul>
  </div>
  <script>
window.predicates = {{ predicates_js|safe }};
$(function() {
    cdb.searchPredicatesDisplay(window.predicates, "#search_terms", true);
});
  </script>
  <!-- <div>Found {{cards.paginator.count}} results.</div> -->
{% if cards %}

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      {% include "cards/card_pagination.html" %}
    </div>
    <div class="col-xs-offset-3 col-xs-9 col-sm-offset-1 col-sm-5 text-right">
      <form class="form-inline" style="margin: 20px 0px;">
        Sort by:
        <select id="sort_order" name="sort_order" class="form-control input-sm">
          <option value="name">Name</option>
          <option value="cmc">CMC</option>
{% for format in current_formats %}
          <option value="rating-{{format.format}}">Rating in {{format.formatname}} (Current)</option>
{% endfor %}
        </select>
      </form>
      <script>
$(function() {
  $("#sort_order option").each(function() { if ($(this).val() == "{{sort_order}}") { $(this).attr('selected','selected'); } } );
  $("#sort_order").change(
    function(){
      cdb.sort = $("#sort_order option:selected").val();
      cdb.sendQuery();
    });
});
      </script>
    </div>
  </div>
  <!-- <div class="table-responsive"> -->
  <table class="table table-striped">
<!--
    <thead>
      <tr>
        <th colspan="2"></th><th style="width: 100px;">card.ninja Rating</th>
      </tr>
    </thead>
 -->
    <tbody>
    {% for card in cards %}
      <tr>
        <td><a href="{% url 'cards:detail' card.multiverseid card.url_slug %}"><img class="list_cardimage" src="{{ card.img_url }}" alt="{{ card.basecard.name }}"/></a></td></td>
        <td>
          <div><span class="list_cardname"><a href="{% url 'cards:detail' card.multiverseid card.url_slug %}">{{ card.basecard.name }}</a></span> <span class="list_mana_cost">{{card.mana_cost_html }}</span> <span class="list_cmc">({{card.basecard.cmc}})</span></div>
          <div class="list_cardtype">{% for ttype in card.basecard.types.all %}{{ ttype.type }} {% endfor %} {% if card.basecard.subtypes.all %}&mdash; {% for tsubtype in card.basecard.subtypes.all %}{{ tsubtype.subtype }} {% endfor %}{%endif%}</div>
          <div class="list_rules">{{card.rules_text_html}}</div>
        </td>
        <td>
          <div class="cn_r_std">Std:&nbsp;<span id="cr_{{card.multiverseid}}_4"></span></div>
          <div class="cn_r_mod">Mod:&nbsp;<span id="cr_{{card.multiverseid}}_1"></span></div>
          <div class="cn_r_edh">EDH:&nbsp;<span id="cr_{{card.multiverseid}}_15"></span></div>
        {% for cardrating in card.basecard.physicalcard.cardrating_set.all %}
          {% if cardrating.test.id == 1 %}
            {% if cardrating.format.id == 4 %}
              <script>$("#cr_{{card.multiverseid}}_4").html("{{cardrating.cardninjaRating|floatformat:1 }}");</script>
            {% endif %}
            {% if cardrating.format.id == 1 %}
              <script>$("#cr_{{card.multiverseid}}_1").html("{{cardrating.cardninjaRating|floatformat:1 }}");</script>
            {% endif %}
            {% if cardrating.format.id == 15 %}
              <script>$("#cr_{{card.multiverseid}}_15").html("{{cardrating.cardninjaRating|floatformat:1 }}");</script>
            {% endif %}
          {% endif %}
        {% endfor%}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <!-- </div> -->

  {% include "cards/card_pagination.html" %}
  <div>{{cards.paginator.count}} results.</div>

{% else %}
  <p>No cards are available.</p>
{% endif %}

{% endblock %}
