{% extends "cards/base.html" %}

{% block pagetitle %}Search Results{% endblock %}
{% block title %}Search Results{% endblock %}

{% block content %}
  <div>
    <a href="{% url 'cards:index' %}">Search query is</a>
    <div id="search_terms"></div>
  </div>
  <script>
window.predicates = {{ predicates_js|safe }};
$(function() {
    cdb.searchPredicatesDisplay(window.predicates, "#search_terms", true);
});
  </script>
  <div>Found {{cards.paginator.count}} results.</div>
{% if cards %}

  {% include "cards/card_pagination.html" %}

  <table>
    {% for card in cards %}
      <tr>
        <td><a href="{% url 'cards:detail' card.multiverseid card.url_slug %}"><img class="list_cardimage" src="{{ card.img_url }}" alt="{{ card.basecard.name }}"/></a></td></td>
        <td>
          <div><span class="list_cardname"><a href="{% url 'cards:detail' card.multiverseid card.url_slug %}">{{ card.basecard.name }}</a></span> <span class="list_mana_cost">{{card.mana_cost_html }}</span> <span class="list_cmc">({{card.basecard.cmc}})</span></div>
          <div class="list_cardtype">{% for ttype in card.basecard.types.all %}{{ ttype.type }} {% endfor %} {% if card.basecard.subtypes.all %}&mdash; {% for tsubtype in card.basecard.subtypes.all %}{{ tsubtype.subtype }} {% endfor %}{%endif%}</div>
          <div class="list_rules">{{card.rules_text_html}}</div>
        </td>
      </tr>
    {% endfor %}
  </table>

  {% include "cards/card_pagination.html" %}
  <div>{{cards.paginator.count}} results.</div>

{% else %}
  <p>No cards are available.</p>
{% endif %}

{% endblock %}
