{% extends "cards/base.html" %}

{% block pagetitle %}Search Results{% endblock %}
{% block title %}Search Results{% endblock %}

{% block content %}
<div>Search query is <div id="search_terms"></div>
</div>
<script>
window.predicates = {{ predicates_js|safe }};
$(function() {
    cdb.searchPredicatesDisplay(window.predicates, "#search_terms", true);
});
</script>
<div>Found {{cards.paginator.count}} results.</div>
{% if cards %}
  <ul>{% for card in cards %}
    <li><a href="{% url 'cards:detail' card.multiverseid %}">{{ card.basecard.name }}</a></li>
  {% endfor %}</ul>
{% else %}
  <p>No cards are available.</p>
{% endif %}

  <ul class="pagination">
    <li><a href="?page=1">&laquo;</a></li>
{% for ppp in cards.paginator.page_range %}
    <li><a href="?page={{ppp}}">{{ppp}}</a></li>
{% endfor %}
    <li><a href="?page={{cards.paginator.num_pages}}">&raquo;</a></li>
  </ul>

{% endblock %}
