body {
  color: #262624;
}
a:link {
  color: #4d5f8b;
  text-decoration: underline;
}
a:visited {
  color: #5b2f46;
  text-decoration: underline;
}
a:hover {
  color: #4d5f8b;
  text-decoration: underline;
}
a:active {
  color: #4d5f8b;
  text-decoration: underline;
}
body.blog a {
  text-decoration: none;
}
body.archive a {
  text-decoration: none;
}
body.post a {
  text-decoration: none;
}
body.single a {
  text-decoration: none;
}
body.category a {
  text-decoration: none;
}
h5.panel-title a:link {
  color: #262624;
  text-decoration: none;
}
h5.panel-title a:visited {
  color: #262624;
  text-decoration: none;
}
h5.panel-title a:hover {
  color: #5b2f46;
  text-decoration: none;
}
.menu {
  background-color: #262624;
  background-image: -webkit-linear-gradient(top, #262624, #262624);
}
.menu a {
  color: #f0f0f2;
  text-decoration: none;
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #262624, #262624);
  background-color: #262624;
}
.navbar-inverse .navbar-nav li a {
  color: #f0f0f2;
  text-decoration: none;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a {
  background-image: -webkit-linear-gradient(top, #0a0b0d, #0a0b0d);
  background-color: #0a0b0d;
}
.termsbox a {
  font-size: 1.1em;
  font-weight: 500;
  vertical-align: middle;
  textdecoration: none;
}
.magic-symbol-small {
  background: url("/cn/glyphs/symbols_small.png");
  height: 15px;
  width: 15px;
}
.symbol_mana_0_small {
  background-position:0px 0px;
}
.symbol_mana_1_small {
  background-position:-15px 0px;
}
.symbol_mana_2_small {
  background-position:-30px 0px;
}
.symbol_mana_3_small {
  background-position:-45px 0px;
}
.symbol_mana_4_small {
  background-position:-60px 0px;
}
.symbol_mana_5_small {
  background-position:-75px 0px;
}
.symbol_mana_6_small {
  background-position:-90px 0px;
}
.symbol_mana_7_small {
  background-position:-105px 0px;
}
.symbol_mana_8_small {
  background-position:-120px 0px;
}
.symbol_mana_9_small {
  background-position:-135px 0px;
}
.symbol_mana_10_small {
  background-position:0px -15px;
}
.symbol_mana_11_small {
  background-position:-15px -15px;
}
.symbol_mana_12_small {
  background-position:-30px -15px;
}
.symbol_mana_13_small {
  background-position:-45px -15px;
}
.symbol_mana_14_small {
  background-position:-60px -15px;
}
.symbol_mana_15_small {
  background-position:-75px -15px;
}
.symbol_mana_16_small {
  background-position:-90px -15px;
}
.symbol_mana_17_small {
  background-position:-105px -15px;
}
.symbol_mana_18_small {
  background-position:-120px -15px;
}
.symbol_mana_19_small {
  background-position:-135px -15px;
}
.symbol_mana_20_small {
  background-position:0px -30px;
}
.symbol_mana_x_small {
  background-position:-15px -30px;
}
.symbol_mana_y_small {
  background-position:-30px -30px;
}
.symbol_mana_z_small {
  background-position:-45px -30px;
}
.symbol_mana_c_small {
  background: url("/cn/Colorless_symbol.png");
  height: 15px;
  width: 15px;
  background-size:15px 15px;
  background-position:0px 0px;
}
.symbol_mana_w_small {
  background-position:-60px -30px;
}
.symbol_mana_u_small {
  background-position:-75px -30px;
}
.symbol_mana_b_small {
  background-position:-90px -30px;
}
.symbol_mana_r_small {
  background-position:-105px -30px;
}
.symbol_mana_g_small {
  background-position:-120px -30px;
}
.symbol_snow_small {
  background-position:-135px -30px;
}
.symbol_chaos_small {
  background-position:-100px -90px;
  width: 19px;
}
.symbol_mana_wu_small {
  background-position:0px -45px;
}
.symbol_mana_wb_small {
  background-position:-15px -45px;
}
.symbol_mana_ub_small {
  background-position:-30px -45px;
}
.symbol_mana_ur_small {
  background-position:-45px -45px;
}
.symbol_mana_br_small {
  background-position:-60px -45px;
}
.symbol_mana_bg_small {
  background-position:-75px -45px;
}
.symbol_mana_rw_small {
  background-position:-90px -45px;
}
.symbol_mana_rg_small {
  background-position:-105px -45px;
}
.symbol_mana_gw_small {
  background-position:-120px -45px;
}
.symbol_mana_gu_small {
  background-position:-135px -45px;
}
.symbol_mana_2w_small {
  background-position:0px -60px;
}
.symbol_mana_2u_small {
  background-position:-15px -60px;
}
.symbol_mana_2b_small {
  background-position:-30px -60px;
}
.symbol_mana_2r_small {
  background-position:-45px -60px;
}
.symbol_mana_2g_small {
  background-position:-60px -60px;
}
.symbol_mana_wp_small {
  background-position:-75px -60px;
}
.symbol_mana_up_small {
  background-position:-90px -60px;
}
.symbol_mana_bp_small {
  background-position:-105px -60px;
}
.symbol_mana_rp_small {
  background-position:-120px -60px;
}
.symbol_mana_gp_small {
  background-position:-135px -60px;
}
.symbol_tap_small {
  background-position:0px -75px;
}
.symbol_untap_small {
  background-position:-15px -75px;
}
.symbol_energy_small {
  background: url("/cn/glyphs/symbol_energy_small.png");
  background-position:0px 0px;
}
.symbol_phyrexian_small {
  width: 9px;
  background-position:-141px -90px;
}

.aligncenter {
  text-align: center;
}
/*
.photo { 
  width: 300px; 
  text-align: center; 
}
*/ 
.photo .ui-widget-header { 
  margin: 1em 0; 
} 
.map { 
  width: 350px; 
  height: 350px; 
} 
.ui-tooltip { 
  max-width: 350px; 
} 

div.embed-wrap { /* solving problem of Google follow widget making an ugly square */
  padding-bottom: 20%;
  padding-top:20%;
}

a.footnote_ref {
  font-size: 70%;
  vertical-align: super;
}

div.footnotes {
  border-top: 1px solid #909090;
  color: #808080;
  font-size: 90%;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}
table.formatstats {
  border-collapse: collapse;
}
table.formatstats th {
  vertical-align: bottom !important;
}
table.formatstats tr {
  border-top: 1px solid rgba(0,0,0,0.12);
  border-bottom: 1px solid rgba(0,0,0,0.12);
}
.positive-change {
  color: #2E7D32;
}
.negative-change {
  color: #C62828;
}
th, td {
  padding: 0.5em;
}
td {
  vertical-align: top;
}
td.rulingdate {
  white-space: nowrap;
}
img.cardimage {
  width: 223px;
  height: auto;
}
.list_cardimage {
  width: 180px;
  height: auto;
}
.grid_cardimage {
  width: 223px;
  height: auto;
}
.list_cardname {
  font-size: 120%;
  font-weight: 400;
}
.list_cardname a{
  text-decoration: none;
}
.list_cardtype {
  font-style: italic;
}
.list_rules {
padding-top: 11px;
}
.list_mana_cost {}
.list_cmc {}

.footer {
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  margin-top: 70px;
  padding: 30px 0;
  text-align: center;
  font-size: 11px;
}
.footer p {
  color: #777;
  margin-bottom: 0;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

.page-header {
  margin-top: 60px;
}

.pred_remove {
  padding-left: .5em;
  padding-right: .5em;
  margin-left: .5em;
  background-color: #f5f5f5;
}

.term_input {
  padding-bottom: 8px;
}

.termsbox {
  background-color: #fff;
  padding: 20px;
  padding-bottom: 13px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
ul#search_terms {
}
ul#search_terms li {
  padding-bottom: 7px;
}

/* no-gutters Class Rules - http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/ */
.row.no-gutters {
  margin-right: 0px;
  margin-left: 0px;
}
.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"]{
  padding-right: 0px;
  padding-left: 0px;
}
.row.xs-gutters {
  margin-right: 5px;
  margin-left: 0px;
}
.row.xs-gutters [class^="col-xs-"],
.row.xs-gutters [class*=" col-xs-"]{
  padding-right: 5px;
  padding-left: 0px;
}

div.card-tile {
  height: auto;
  margin-bottom: 16px;
}
ol.rules {
  list-style-type: none;
  padding-left: 0px;
}
li.rule {
  padding-left: 60px;
  text-indent: -60px;
  margin-top: 11px;
}
.rules-section-number {
  font-weight: bold;
}
li.rule ol.rules li.rule {
  padding-left: 72px;
  text-indent: -72px;
}
li.rule span.rules-section-number {
  float:left;
  width: 60px;
}
li.rule ol.rules li.rule span.rules-section-number {
  float:left;
  width: 72px;
}

li.example {
  padding-left: 0px;
  text-indent: 0px;
  margin-top: 11px;
  font-style: italic;
}
li.rule ol.rules li.example {
  padding-left: 0px;
  text-indent: 0px;
}
ol.examples {
  list-style-type: none;
  padding-left: 20px;
}
span.example-label {
  font-weight: bold;
}
ol.cardlist {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 21px;
}
ol.cardlist li {
  margin-bottom: 0px;
  padding-left: 12px;
  text-indent: -12px;
}
h3.deck-name {
  margin-bottom: 0px;
}
h4.deck-byline {
  margin-top: 0px;
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}
h4.cardlist-category {
  font-size: 1em;
  margin-bottom: 3px;
  margin-top: 0px;
}
span.staple-modern {
  font-size: 11px;
  padding: 8px;
  vertical-align: middle;
  background-color: #bfbea1;
}
span.staple-legacy {
  font-size: 11px;
  padding: 8px;
  vertical-align: middle;
  background-color: #bfbfbf;
}
span.staple-commander {
  font-size: 11px;
  padding: 8px;
  vertical-align: middle;
  background-color: #ee7674;
}
span.staple-standard {
  font-size: 11px;
  padding: 8px;
  vertical-align: middle;
  background-color: #cadac0;
}
/** Colors for non-CTA and warning messages
blue #4d5f8b
light blue #a2b1d3
gray #ADC4CC
green #92B06A
orange #E19D29
red #DD5F32
dark gray #2D2D2D
white on color: #EEEEEE
**/
div #pricing-container {
}
table.pricing-table {
    border: 1px solid #92B06A;
    border-radius: 3px;
}
tr.table-header-row {
}
th.pricing-header {
    background-color: #92B06A;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
tr.price-row {
    border-top: 1px solid #ADC4CC;
}
td.pricing-recent-qualifier {
  font-style: italic;
  text-align: center;
}
tr.price-current-card {
    background-color: #eef0f4;
}
tr.price-on-sale {
}
td.price-expansion {
}
td.price-printing {
}
td.price-price {
    text-align: right;
}
tr.price-on-sale td.price-price {
    color: #E19D29;
    font-weight: bold;
}
.pricing-login-prompt {
    font-weight: bold;
    text-align: center;
    border: 3px solid #92B06A;
    padding: 7px;
}
td.pricing-table-add {
    border-top: 1px solid #ADC4CC;
    font-weight: bold;
    text-align: center;
}
div.sim-cards-search {
    border-top: 1px solid #e5e5e5;
}

@media only screen and (max-width: 576px) {
  .list_cardimage {
    width: 150px;
    height: auto;
  }
  .grid_cardimage {
    width: 150px;
    height: auto;
  }
  div.card-tile {
    height: 250px;
  }
}
div.content-block {
    margin-top: 11px;
    margin-bottom: 11px;
}
img.content-author-avatar {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}
div.content-author-name {
    text-align: center;
}
div.content-publish-date {
    text-align: center;
}
.card-attr-title {
    font-weight: bold;
}
.card-attr-row {
    margin-bottom: 12px;
}
.card-details-block {
    margin-bottom: 12px;
}
.card-details-block:not(:first-child) {
    margin-top: 12px;
    padding-top: 12px;
    border-top: solid 1px #ADC4CC;
}
