{% extends "base.html" %}

{% block title %}Magic: The Gathering Rules, {{doc_title}}{% endblock %}
{% block pagetitle %}{{rule.section}}. {{rule.rule_text | safe}}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <ul>
        <li><a href="{% url 'rules:index' %}">Table of Contents</a></li>
        {% if previous_rule %}
          <li><a href="{% url 'rules:showsection' previous_rule.section %}">Previous Rule: {{previous_rule.section}}. {{previous_rule.rule_text | safe}}</a></li>
        {% endif %}
        {% if next_rule %}
          <li><a href="{% url 'rules:showsection' next_rule.section %}">Next Rule: {{next_rule.section}}. {{next_rule.rule_text | safe}}</a></li>
        {% endif %}
      <ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <ol class="rules">
        {% for child in rule.children %}
          <li class="rule">
            <span class="rules-section-number" id="{{child.section}}">{{child.section}}.</span> <span class="rule-text">{{child.marked_up_text | safe}}</span>
            {% if child.examples %}
              <ol class="examples">
                {% for example in child.examples %}
                  <li class="example">
                    <span class="example-label">Example:</span> <span class="example-text">{{example.marked_up_text | safe}}</span>
                  </li>
                {% endfor %}
              </ol>
            {% endif %}
            {% if child.children %}
              <ol class="rules">
                {% for child2 in child.children %}
                  <li class="rule">
                    <span class="rules-section-number" id="{{child2.section}}">{{child2.section}}.</span> <span class="rule-text">{{child2.marked_up_text | safe}}</span>
                    {% if child2.examples %}
                      <ol class="examples">
                        {% for example in child2.examples %}
                          <li class="example">
                            <span class="example-label">Example:</span> <span class="example-text">{{example.marked_up_text | safe}}</span>
                          </li>
                        {% endfor %}
                      </ol>
                    {% endif %}
                  </li>
                {% endfor %}
              </ol>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <p style="margin-top:33px; font-size: 70%">
        Source: <a href="{{meta.source_url}}">{{meta.source_url}}</a>, effective {{meta.effective_date}}. Imported into card.ninja on {{meta.import_date}}. <i>Magic: The Gathering</i> rules are the copyright Wizards of the Coast.
      </p>
    </div>
  </div>
{% endblock %}
