{% extends "base.html" %}

{% block title %}Magic: The Gathering Rules, {{rule.section}}. {{rule.rule_text | safe}}{% endblock %}
{% block pagetitle %}Magic: The Gathering Comprehensive Rules{% endblock %}

{% block content %}
<script>
$('#top-menu-search').removeClass('active');
$('#top-menu-rules').addClass('active');
</script>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <nav>
        <ul class="pager">
          <li><a href="{% url 'rules:index' %}"><span aria-hidden="true">&uarr;</span> Table of Contents</a></li>
          {% if previous_rule %}
            <li><a href="{% url 'rules:showsection' previous_rule.section %}"><span aria-hidden="true">&larr;</span> {{previous_rule.section}}. {{previous_rule.rule_text | safe}}</a></li>
          {% endif %}
          {% if next_rule %}
            <li><a href="{% url 'rules:showsection' next_rule.section %}"><span aria-hidden="true">&rarr;</span> {{next_rule.section}}. {{next_rule.rule_text | safe}}</a></li>
          {% endif %}
        <ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <h3>{{rule.section}}. {{rule.rule_text | safe}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <ol class="rules">
        {% for child in rule.children %}
          <li class="rule">
            <span class="rules-section-number" id="{{child.section}}">{{child.section}}.</span> <span class="rule-text">{{child.marked_up_text | safe}}</span>
            {% if child.examples %}
              <ol class="examples">
                {% for example in child.examples %}
                  <li class="example">
                    <span class="example-label">Example:</span> <span class="example-text">{{example.marked_up_text | safe}}</span>
                  </li>
                {% endfor %}
              </ol>
            {% endif %}
            {% if child.children %}
              <ol class="rules">
                {% for child2 in child.children %}
                  <li class="rule">
                    <span class="rules-section-number" id="{{child2.section}}">{{child2.section}}.</span> <span class="rule-text">{{child2.marked_up_text | safe}}</span>
                    {% if child2.examples %}
                      <ol class="examples">
                        {% for example in child2.examples %}
                          <li class="example">
                            <span class="example-label">Example:</span> <span class="example-text">{{example.marked_up_text | safe}}</span>
                          </li>
                        {% endfor %}
                      </ol>
                    {% endif %}
                  </li>
                {% endfor %}
              </ol>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <nav>
        <ul class="pager">
          <li><a href="{% url 'rules:index' %}"><span aria-hidden="true">&uarr;</span> Table of Contents</a></li>
          {% if previous_rule %}
            <li><a href="{% url 'rules:showsection' previous_rule.section %}"><span aria-hidden="true">&larr;</span> {{previous_rule.section}}. {{previous_rule.rule_text | safe}}</a></li>
          {% endif %}
          {% if next_rule %}
            <li><a href="{% url 'rules:showsection' next_rule.section %}"><span aria-hidden="true">&rarr;</span> {{next_rule.section}}. {{next_rule.rule_text | safe}}</a></li>
          {% endif %}
        <ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10">
      <p style="margin-top:33px; font-size: 70%">
        Source: <a href="{{meta.source_url}}">{{meta.source_url}}</a>, effective {{meta.effective_date}}. Imported into card.ninja on {{meta.import_date}}. <i>Magic: The Gathering</i> rules are the copyright Wizards of the Coast.
      </p>
    </div>
  </div>
{% endblock %}
