<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="{% block description %}Exploring the theories and economics of Magic: The Gathering cards{% endblock %}">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Pat's Games - Spellbook Magic Card Database{% endblock %} - spellbook.patsgames.com</title>
    <script>window.origTitle = document.title;</script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->
    <link href="/cn/lavish-bootstrap.css" rel="stylesheet">

    {% comment %} Google Tag Manager {% endcomment %}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','{{settings.GTM_ID|default:"GTM-WN9L8RJ"}}');</script>
    {% comment %} End Google Tag Manager {% endcomment %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script>
/* fix bug with Bootstrap and JQuery-UI colliding: http://www.ryadel.com/2015/01/03/using-jquery-ui-bootstrap-togheter-web-page/ */
$.widget.bridge('uitooltip', $.ui.tooltip);
$.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="/cn-7a5e97b3/cn.js"></script>
    <script src="/cn-c675a332/cdb.js"></script>
    <link rel="stylesheet" href="/cn-ba1ce7d9/cn.css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% block additionalheaders %}{% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body role="document">
    {% comment %} Google Tag Manager (noscript) {% endcomment %}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{settings.GTM_ID|default:"GTM-WN9L8RJ"}}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% comment %} end  Google Tag Manager (noscript) {% endcomment %}
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{settings.HOME_URL}}" class="navbar-brand">Pat's Games</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li id="top-menu-search" class="active"><a href="{% url 'cards:index' %}">Card Database</a></li>
            <li id="top-menu-battle"><a href="{% url 'cards:battle' %}">Card Battle</a></li>
            {% if request.session.deckbox_session_id %}
              <li id="top-menu-deckbox"><a href="{{settings.DECKBOX_URL}}" target="deckbox">Deckbox</a></li>
            {% else %}
              <li id="top-menu-deckbox"><a href="{{settings.DECKBOX_LOGIN_URL}}" target="deckbox">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
	</nav>
    <div class="container theme-showcase" role="main">
      <div id="content">
        <div class="page-header">
          <!-- <h1>Card Database</h1> -->
{% block subsearchnav %}{% endblock %}
		  <h2>{% block pagetitle %}Search{% endblock %}</h2>
        </div>
        <div class="container" style="padding-left: 0px; padding-right: 0px;">
	      {% block content %} this is the content block {% endblock %}
        </div>
      </div>
    </div>

    <div class="container">
      <div id="content">
        <div class="row" style="margin-top: 60px;">
		  <div class="col-sm-2 col-md-2 col-lg-3">&nbsp;</div>
          <div class="col-sm-8 col-md-7 col-lg-6">&nbsp;
	      </div>
		  <div class="col-sm-2 col-md-3 col-lg-3"></div>
		</div>
      </div>
	</div>
    <footer class="footer">
      <div class="container">
        <p>&copy; 2018 Pat's Games and Jason Crickmer. All rights reserved.</p>
        <!--
        <ul class="footer-links">
          <li><a rel="nofollow" href="/terms-of-use/">Terms of Use</a></li>
          <li class="muted">|</li>
          <li><a rel="nofollow" href="/privacy-policy/">Privacy Policy</a></li>
          <li class="muted">|</li>
          <li><a rel="nofollow" href="/dcma-requests/">DCMA Requests</a></li>
          <li class="muted">|</li>
          <li><a rel="nofollow" href="/business-inquiries/">Business Inquiries</a></li>
        </ul>
        -->
      </div>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script>$(function(){document.title = window.origTitle;}); /* looks like bootstrap.js is changing my document.title. */</script>
{% if debug %}
<div id="debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ query.sql|escape }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
  </body>
</html>
